# IDE
.idea/
.vs/
.vscode/

# Node Modules
node_modules/

# Build output
dist

# user config file
foundryconfig.json

# default deploy destination
release/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
