version: 2.1
orbs:
  node: circleci/node@4.1.0
jobs:
  build-and-test:
    executor:
      name: node/default
      tag: '14.14.0'
    steps:
      - checkout
      - node/install-packages:
          cache-version: v3
          override-ci-command: npm install
      - run: sudo npm install -g gulp
      - run: gulp build
      - run: mkdir ./artifacts
      - persist_to_workspace:
          root: ./
          paths: release/*
  publish-github-release:
    docker:
      - image: cibuilds/github:0.10
    steps:
      - attach_workspace:
          at: ./
      - run: zip -r ./release${CIRCLE_TAG}.zip ./release
      - store_artifacts:
          path: ./
      - run:
          name: "Publish Release on Github"
          command: |
            VERSION=${CIRCLE_TAG}
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ./release${CIRCLE_TAG}.zip
workflows:
    build-and-test:
      jobs:
        - build-and-test
    publish-github-release:
      jobs:
        - build-and-test:
            filters:
              branches:
                ignore: /.*/
              tags:
                only: /^\d+\.\d+\.\d+$/
        - publish-github-release:
            requires:
              - build-and-test
            filters:
              branches:
                ignore: /.*/
              tags:
                only: /^\d+\.\d+\.\d+$/