@import "../mixins.scss";

.dialog > .window-content > .character-burner {
    flex: unset;
}

.character-burner {
    .fa-check-circle {
        color: green;
    }
    .fa-question-circle {
        color: teal;
    }
    .fa-ellipsis-h {
        color: rgba(black, 0.5);
    }

    .burner-right-third {
        width: 39%;
        margin-left: 1%;
        margin-top: 1em;
    }

    .load-status {
        height: 100%;
        padding-top: 6px;

        & > .fas { display: none; }
        &.none > .fa-ellipsis-h,
        &.success > .fa-check-circle,
        &.loading > .fa-spinner,
        &.fail > .fa-question-circle {
            display: block;
        }
        
        .fa-spinner {
            animation-name: spin;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            @keyframes spin {
                from {transform:rotate(0deg);}
                to {transform:rotate(360deg);}
            }
        }
    }

    input {
        background-color: transparent;
        &:enabled {
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid black;
        }

        &[type="number"] {
            @include no-number-arrows;
            text-align: center;
        }
    }
    h2 {
        width: 100%;
    }
    .burner-label {
        font-weight: bold;
    }

    .burner-section-header {
        background-color: rgba(black, 0.1);
        font-weight: bold;
    }

    .burner-subtitle {
        margin-bottom: 1em;
        input {
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid black;
            height: 1.125em;
            margin: 0 1em 0 1em;
            &[type='text'] {
                width: 12em;
            }
        }
    }

    .lifepath-grid {
        width: 60%;
        display: grid;
        grid-template-columns: 6fr 1fr 1fr 1fr 1.5fr 1.5fr 1fr 1fr 1fr;

        input:enabled {
            width: calc(100% - 2px);
            height: 100%;
        }
        input:disabled {
            width: 100%;
        }

        .inline-text input {
            width: calc(100% - 1em);
            height: 100%
        }
        
        div.lifepath-grid-totals {
            text-align: right;
        }
        .lifepath-grid-totals {
            text-align: center;
            font-weight: bold;
            background-color: rgba(black, 0.1);
        }
    }

    .stat-input-box {
        height: min-content;
        select {
            @include select-no-arrow;
        }
        input[type="number"] {
            height: 100%;
            width: 1.5em;
            border: 1px solid black;
        }
        input[type="text"] {
            width: 6em;
        }
    }

    .burner-skills-section {
        width: 60%;

        .skills-grid, .skills-header {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 2em 2em 2em 2em 2em 2em min-content;
        }
        .skills-header {
            margin-top: 1em;
            .lifepath-skill-header {
                font-weight: bold;
                background-color: rgba(black, 0.1);
            }
        }
        .skills-grid {
            select.shade {
                @include select-no-arrow;
                text-align-last: center;
            }
    
            input[type="checkbox"] {
                width: 1em;
                height: 1em;    
            }
        }
    }

    .burner-traits-grid {
        display: grid;
        grid-template-columns: 2fr 1fr 2em 2em min-content;

        .traits-header {
            font-weight: bold;
            background-color: rgba(black, 0.1);
            height: min-content;
        }

        input[type="checkbox"] {
            height: 1em;
            width: 1em;
        }

        .trait-status {
            height: 100%;
            padding-top: 6px;

            & > .fas { display: none; }
            &.none > .fa-ellipsis-h,
            &.success > .fa-check-circle,
            &.loading > .fa-spinner,
            &.fail > .fa-question-circle {
                display: block;
            }
        }
    }

    .burner-attributes-section {
        margin-top: 1em;
    }

    .burner-resources {
        width: 100%;

        .burner-property {
            display: grid;
            grid-template-columns: 1fr 2em min-content;
        }
    }
}