@import "../mixins.scss";

.dialog > .window-content > .character-burner {
    flex: unset;
}

.character-burner {
    .submit-burner-button {
        height: 1.5em;
        line-height: 1.5em;
        position: absolute;
        bottom: 0;
        right: 6px;
        background-color: lightgray;
        width: calc(100% - 10px);
        font-size: 2em;
        font-weight: bold;
    }

    .fa-check-circle {
        color: green;
    }
    .fa-question-circle {
        color: teal;
    }
    .fa-ellipsis-h {
        color: rgba(black, 0.5);
    }

    .burner-inline-total {
        display: inline-block;
        width: 2em;
    }

    .burner-right-third {
        width: 39%;
        margin-left: 1%;
        margin-top: 1em;
    }

    .load-status {
        height: 100%;
        padding-top: 6px;

        & > .fas { display: none; }
        &.none > .fa-ellipsis-h,
        &.success > .fa-check-circle,
        &.loading > .fa-spinner,
        &.fail > .fa-question-circle {
            display: block;
        }
        
        .fa-spinner {
            animation-name: spin;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            @keyframes spin {
                from {transform:rotate(0deg);}
                to {transform:rotate(360deg);}
            }
        }
    }

    .burner-grid {
        display: grid;
        column-gap: 5px;
        row-gap: 5px;

        & > .whole-row {
            grid-column: 1 / -1;
        }

        &.col-2 {
            grid-template-columns: 1fr 1fr;
        }
        
        &.col-3 {
            grid-template-columns: 1fr 1fr 1fr;
        }
        &.col-4 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    input {
        background-color: transparent;
        &:enabled {
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid black;
        }

        &[type="number"] {
            @include no-number-arrows;
            text-align: center;
        }
    }
    h2 {
        width: 100%;
    }
    .burner-label {
        font-weight: bold;
    }

    .burner-section-header {
        background-color: rgba(black, 0.1);
        font-weight: bold;
    }

    .burner-subtitle {
        margin-bottom: 1em;
        input {
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid black;
            height: 1.125em;
            margin: 0 1em 0 1em;
            &[type='text'] {
                width: 12em;
            }
        }
    }

    .lifepath-grid {
        width: 60%;
        display: grid;
        grid-template-columns: 6fr 1fr 1fr 1fr 1.5fr 1.5fr 1fr 1fr 1fr;

        input:enabled {
            width: calc(100% - 2px);
            height: 100%;
        }
        input:disabled {
            width: 100%;
        }

        .inline-text input {
            width: calc(100% - 1em);
            height: 100%
        }
        
        div.lifepath-grid-totals {
            text-align: right;
        }
        .lifepath-grid-totals {
            text-align: center;
            font-weight: bold;
            background-color: rgba(black, 0.1);
        }
    }

    .stat-input-box {
        height: min-content;
        select {
            @include select-no-arrow;
        }
        input[type="number"] {
            height: 100%;
            width: 1.5em;
            border: 1px solid black;
        }
        input[type="text"] {
            width: 6em;
        }
    }

    .burner-skills-section {
        width: 60%;

        .skills-grid, .skills-header {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 2em 2em 2em 2em 2em 2em min-content;
        }
        .skills-header {
            margin-top: 1em;
            .lifepath-skill-header {
                font-weight: bold;
                background-color: rgba(black, 0.1);
            }
        }
        .skills-grid {
            select.shade {
                @include select-no-arrow;
                text-align-last: center;
            }
    
            input[type="checkbox"] {
                width: 1em;
                height: 1em;    
            }
        }
    }

    .burner-traits-grid {
        display: grid;
        grid-template-columns: 3fr 1fr 2em 3em 2em min-content;

        .traits-header {
            font-weight: bold;
            background-color: rgba(black, 0.1);
            height: min-content;
        }

        input[type="checkbox"] {
            height: 1em;
            width: 1em;
        }

        .trait-status {
            height: 100%;
            padding-top: 6px;

            & > .fas { display: none; }
            &.none > .fa-ellipsis-h,
            &.success > .fa-check-circle,
            &.loading > .fa-spinner,
            &.fail > .fa-question-circle {
                display: block;
            }
        }
    }

    .burner-attributes-section {
        margin-top: 1em;
    }

    .burner-resources {
        margin-top: 1em;
        width: 100%;

        .burner-property {
            display: grid;
            grid-template-columns: 1fr 2em min-content;
        }

        .burner-reputations {
            display: grid;
            grid-template-columns: 1fr 2em 2em 2em;


            .burner-rel-aff {
                @include button-like(orange);
                line-height: 1.4em;
            }
            .burner-rel-rep {
                display: none;
                @include button-like(blue);
                line-height: 1.4em;
            }
            .burner-rel-checkbox:checked {
                & ~ .burner-rel-aff {
                    display: none;
                }
                & ~ .burner-rel-rep {
                    display: block;
                }
            }
        }

        .burner-relationships {
            display: grid;
            grid-template-columns: 1fr 2em;
            

            .burner-relationship-info {
                font-size: .75em;
                .rel-name {
                    font-size: 1.5em;
                    font-weight: bold;
                    width: 100%;
                }

                select {
                    @include select-no-arrow;
                    height: min-content;
                }

                input[type="checkbox"] {
                    width: .75em;
                    height: .75em;
                    margin-right: -5px;
                }
            }
        }

        .burner-gear {
            display: grid;
            grid-template-columns: 2fr 1fr 2em min-content;
        }
    }

    .burner-settings {
        margin-bottom: 3em;
        width: 60%;
        grid-template-columns: 1fr 2fr;

        .sheet-setting-toggle {
            @include button-like(black);
        }

        input[type="checkbox"]:checked + .sheet-setting-toggle {
            @include button-like-active;
        }
    }

    .burner-finishing {
        margin-bottom: 3em;
    }
}