@mixin difficulty-toggle($light, $normal, $dark) {
    label {
        background-color: black;
        border-radius: 2px;
        color: $normal;
        border: 2px solid $dark;
    }

    input {
        &:checked + label {
            background: linear-gradient(rgba($normal, .25), rgba($normal, 0.75));
            border: 2px solid $normal;
            color: $light;
        }
        &:focus + label {
            border-color: $normal;
        }
    }
}

.difficulty-dialog {
    width: 5em;
    height: 6em;
    position: fixed;
    bottom: 10px;
    right: 310px;

    border: 2px solid gray;
    border-radius: 5px;
    background-image: url("/ui/denim075.png");
    color: white;
    font-size: 2em;
    text-align: center;

    display: flex;
    flex-direction: column;
    padding: 10px;

    .roll-mods {
        height: 1.5em;
        font-size: 12px;
        display: flex;
        .pill-toggle {
            flex: 1;

            &.s-pool {
                @include difficulty-toggle(lightblue, blue, #000077);
            }
            &.c-diff {
                @include difficulty-toggle(lightgreen, green, #005500);
            }
            &.n-track {
                @include difficulty-toggle(#FFFFaa, red, #880000);
            }
        }
    }

    .obstacle {
        height: 4.5em;
        display: flex;
        flex-direction: column;
    }

    input, .number {
        flex: 1;
        color: white;
        line-height: 100%;
        font-size: 3em
    }
    .label {
        flex: 0 0 1em;
    }
}

.obstacle-mods {
    width: 12em;
    position: fixed;
    bottom: 10px;
    right: calc(320px + 10em);

    border: 2px solid gray;
    border-radius: 5px;
    background-image: url("/ui/denim075.png");
    color: white;
    padding: 3px;

    .obstacle-title {
        font-weight: bold;
    }

    hr {
        margin: 3px -2px;
    }

    input {
        color: white;
        font-size: 12px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

    .mod-entry {
        padding-left: 5px;
        display: flex;
        flex-direction: row;
        .mod-name {
            flex: 1 1;
            margin-right: 2px;
        }
        .mod-amount {
            flex: 0 0 2em;
            text-align: center;
        }
    }
}
