@import "../mixins.scss";

.dow {
    input[type="number"] {
        width: 2em;
        text-align: center;
        @include no-number-arrows;
    }

    .dow-side {
        width: 50%;
        .participant-name {
            min-height: 1.5em;
        }
        textarea {
            resize: none;
        }

        select {
            max-width: 100%;
        }
    }

    .dow-resets {
        width: 100%;
        height: min-content;
        .reset-option {
            @include button-like(gold);
        }
    }

    .dow-volleys {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        text-align: center;

        .dow-participant {
            .participant-name {
                font-weight: bold;
            }
            img.dow-portrait {
                margin-left: auto;
                margin-right: auto;
                width: 80px; height: 80px;
                border: 0;
                object-fit: cover;
            }
        }

        .dow-volley {
            .card-back, .action-card {
                margin-left: auto;
                margin-right: auto;
                width: 100px;
                height: 150px;
                border: 3px solid #800;
                color: #800;
                background: linear-gradient(rgb(238, 230, 126), rgb(170, 159, 0));
                border-radius: 10px;
                text-align: center;
            }

            .card-back {
                line-height: 150px;
                font-size: 5em;
            }

            .action-card {
                font-size: 1.5em;
                font-weight: bold;
                display:flex;
                justify-content:center;
                align-items:center;
            }
        }
    }
}

.dow-sidebar-button {
    background: linear-gradient(rgba(red, .15), rgba(red, 0.45));
    color: gold;
    border-color: gold;
    width: 95%;
}