@import "../mixins.scss";
.fight {
    .control-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        width: 100%;
        height: min-content;
        .control-button {
            @include button-like(black);
            border-radius: 3px;
        }
    }

    .fighters-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .participant-card {
            .actor-name {
                font-size: 1.125em;
                font-weight: bold;
            }
            .portrait {
                margin-left: auto;
                margin-right: auto;
                width: 80px; height: 80px;
                border: 0;
                object-fit: cover;
            }
        }

        .newParticipant {
            width: 100%;
            select {
                width: 100%;
            }
        }
    }
}