@import "../mixins.scss";
.fight {
    .window-content {
        & > form {
            flex: unset;
        }
    }

    .control-grid {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: min-content;
        .control-button {
            @include button-like(black);
            color: black;
            border-radius: 3px;
        }
    }

    .details {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: stretch;
        column-gap: 2px;
        row-gap: 2px;
        width: 100%;

        .details-key {
            background: rgba(#000, .03);
            border: 1px groove #f0f0f0;
            border-right: 0;
            padding: 1px;
        }
        .details-value {
            text-align: end;
            background: rgba(#000, .1);
            border: 1px groove #f0f0f0;
            border-left: 0;
            margin-left: -2px;
            padding: 1px;
        }
    }

    .weapon-block {
        display: grid;
        align-items: center;
        width: 100%;
        padding: 5px 5px 0 5px;
        //Weapon word has static width
        grid-template-columns: 50px 1fr;
        justify-content: stretch;
        .weapon-picker {
            text-align: end;
            select {
                max-width: 12em;
                option {
                    max-width: 12em;
                }
            }
        }
    }

    .volley-description {
        display: grid;
        width: 100%;
        height: min-content;
        grid-template-columns: repeat(4, minmax(235px, 1fr));
        margin: 1em 0 1em 0;

        .pill-toggle > input[type="checkbox"]:checked + label {
            background: linear-gradient(rgb(238, 230, 126), rgb(170, 159, 0));
            border: 2px solid #880000;
            color: #880000;
        }

        .fighters-label{
            width: 100%;
            font-size: 1.25em;
            font-weight: bold;
        }

        .portrait {
            width: 120px; height: 120px;
            border: 0px;
            object-fit: cover;
        }

        .pill-toggle > label {
            border-radius: 0;
        }

        .gm-overview{
            width: 100%;
        }

        .volley-buttons {
            .participant {
                width: 100%;
                font-size: 1.125em;
                font-weight: bold;
                padding-left: 5px;
            }
            .portrait-actions {
                flex-grow: 1;
                display: flex;
                .fight-rolls {
                    flex-grow: 1;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    max-height: 130px;
                    .control-button {
                        width: 49%;
                    }
                }
            }
        }

        & > div {
            border: 2px groove #aaaaaa;
            background: linear-gradient(rgba(#444, .25), rgba(#000, .05));
            min-height: 1.5em;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center; 
            margin: 0;
            padding: 2px;

            .attack-action {
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                margin-left: auto;
                margin-right: auto;
                width: 30%;
                height: 100px;
                border: 3px solid #800;
                color: #800;
                background: linear-gradient(rgb(238, 230, 126), rgb(170, 159, 0));
                border-radius: 3px;
                text-align: center;

                &.card-back {
                    line-height: 100px;
                    font-size: 3.5em;
                }
    
                &.action-card {
                    display:flex;
                    justify-content:center;
                    align-items:center;
                }
            }
        }
    }

    .fighters-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(235px, 1fr));
        height: min-content;
        width: 100%;

        .participant-card, .volley {
            border: 2px groove #aaaaaa;
            background: linear-gradient(rgba(#444, .25), rgba(#000, .05));
            padding: 4px;
        }

        .participant-card {
            width: 100%;
            flex-wrap: wrap;

            .control-button {
                width: 49%;
                height: min-content;
                @include button-like(black);
                color: black;
                border-radius: 3px;
            }
     
            .remove-fighter {
                width: 1.5em;
                height: 1.5em;
                padding: 1px;
                line-height: 1.3em;
                color: #800;
            }
            .actor-name {
                flex: 1;
                text-align: center;
                font-size: 1.125em;
                font-weight: bold;
                &:hover {
                    color: #800;
                }
            }

            .details {
                .details-value, .details-key {
                    display: flex;
                    align-items: center;
                }

                .details-value {
                    justify-content: flex-end;

                    .exponent {
                        width: 1.5em;
                        height: 1.5em;
                        padding: 0;
                        text-align: center;
                    }
                }
            }
        }

        .volley {
            align-items: center;
            justify-content: center;
            label {
                display: block;
            }
        }

        .newParticipant {
            width: 100%;
            select {
                width: 100%;
            }
        }
    }
}