@import "../mixins.scss";
.fight {
    .window-content {
        // background: none;
        // color: white;
        // & select {
        //     color: white;
        //     & optgroup, & option {
        //         background-color: #222;
        //     }
        // }
        & > form {
            flex: unset;
        }
    }

    .control-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        width: 100%;
        height: min-content;
        .control-button {
            @include button-like(black);
            color: black;
            border-radius: 3px;
        }
    }

    .volley-description {
        display: grid;
        width: 100%;
        height: min-content;
        grid-template-columns: repeat(4, 1fr);
        margin: 1em 0 1em 0;

        & > div {
            border: 2px groove #aaaaaa;
            background: linear-gradient(rgba(#444, .25), rgba(#000, .05));
            min-height: 1.5em;
            margin: 0;

            .attack-action {
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                margin-left: auto;
                margin-right: auto;
                width: 30%;
                height: 100px;
                border: 3px solid #800;
                color: #800;
                background: linear-gradient(rgb(238, 230, 126), rgb(170, 159, 0));
                border-radius: 3px;
                text-align: center;

                &.card-back {
                    line-height: 100px;
                    font-size: 3.5em;
                }
    
                &.action-card {
                    display:flex;
                    justify-content:center;
                    align-items:center;
                }
            }
        }
    }

    .fighters-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: min-content;
        width: 100%;

        .participant-card, .volley {
            border: 2px groove #aaaaaa;
            background: linear-gradient(rgba(#444, .25), rgba(#000, .05));
            padding: 4px;
        }

        .participant-card {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .control-button {
                width: 49%;
                height: min-content;
                @include button-like(black);
                color: black;
                border-radius: 3px;
            }

            .remove-fighter {
                width: 1.5em;
                height: 1.5em;
                padding: 1px;
                line-height: 1.3em;
                color: #800;
            }

            .actor-name {
                font-size: 1.125em;
                font-weight: bold;
                width: calc(100% - 1.5em);
                &:hover {
                    color: #800;
                }
            }
            .portrait {
                width: 80px; height: 80px;
                border: 0;
                object-fit: cover;
            }
            .details {
                width: calc(95% - 80px);
                margin-left: 2%;
                select {
                    width: 100%;
                }
            }
        }
        .volley {
            label {
                display: block;
            }
        }

        .newParticipant {
            width: 100%;
            select {
                width: 100%;
            }
        }
    }
}