.mods-and-help {
    position: fixed;
    right: calc(370px + 10em);

    top: 10px;

    display: flex;
    flex-direction: column;

    & > div {
        width: 12em;
        border: 2px solid gray;
        border-radius: 5px;
        background-image: url('/ui/denim075.png');
        color: white;
        padding: 3px;
        margin-bottom: 5px;
    }

    .help-mods {
        .help-title {
            font-weight: bold;
        }

        .help-name {
            flex: 1 1 50px;
            position: relative;
            & > .tooltip {
                position: absolute;
                visibility: hidden;
                width: 10em;
                right: 9em;
                border: 2px solid gray;
                border-radius: 5px;
                background-image: url('/ui/denim075.png');
            }
            &:hover > .tooltip {
                visibility: visible;
            }
        }
        .help-amount {
            flex: 0 0 2em;
        }
        i {
            flex: 0 0 10px;
            margin-top: 1px;
        }
    }

    .obstacle-mods {
        .obstacle-title {
            font-weight: bold;
        }

        hr {
            margin: 3px -2px;
        }

        input {
            color: white;
            font-size: 12px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
        }

        .mod-entry {
            padding-left: 5px;
            display: flex;
            flex-direction: row;
            .mod-name {
                flex: 1 1;
                margin-right: 2px;
            }
            .mod-amount {
                flex: 0 0 2em;
                text-align: center;
            }
        }
    }
}
