@import "../mixins.scss";
.rnc {
    .window-content {
        & > form {
            flex: unset;
        }
    }

    .control-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        width: 100%;
        height: min-content;
        .control-button {
            @include button-like(black);
            color: black;
            border-radius: 3px;
        }
    }

    .team-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        margin-top: 5px;

        &>div {
            border: 2px groove #aaaaaa;
            background: linear-gradient(rgba(#444, .25), rgba(#000, .05));
            min-height: 1.5em;
            margin: 0;
            padding: 0 3px;
        }
        
        .team-header {
            font-size: 1.125em;
        }

        .team-card {
            .hide-actions {
                border-bottom: 2px groove #800;
                padding-top: 3px;
                padding-right: 3px;
                &>i {
                    height: 1.25em;
                    line-height: 1.25em;
                    flex: 0 1.25em;
                    &:hover {
                        color: #800;
                        cursor: pointer;
                    }
                }
            }

            .team-name {
                font-weight: bold;
                font-size: 1.25em;
                flex: 1 1;
                border-bottom: 2px groove #800
            }

            .team-label {
                width: 100%;
                font-weight: bold;
            }

            .maneuver-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                
            }

            ul {
                list-style-type: none;
                width: 100%;
                margin-top: 0;
                & > li {
                    display: flex;
                    & > span {
                        flex: 1 1;
                    }
                    & > i {
                        flex: 0 15px;
                        &:hover {
                            color: #800;
                        }
                    }
                }
            }

            select {
                width: 100%;
            }
        }

        .team-action {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            select {
                width: 100%;
            }
            .action-card, .card-back {
                justify-self: center;
                margin-left: auto;
                margin-right: auto;
                width: 100px;
                height: 150px;
                border: 3px solid #800;
                color: #800;
                background: linear-gradient(rgb(238, 230, 126), rgb(170, 159, 0));
                border-radius: 10px;
                text-align: center;
            }

            .card-back {
                line-height: 150px;
                font-size: 5em;
            }

            .action-card {
                font-size: 1.5em;
                font-weight: bold;
                display:flex;
                justify-content:center;
                align-items:center;
            }
        }
    }
}