@import "../mixins.scss";
.npc {
    align-content: flex-start;
    & > div {
        height: min-content;
        margin-bottom: 5px;
    }
    .portrait {
        width: 150px;
        height: 150px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .npc-checkbox {
        width: 2em;
        text-align: center;
        input[type='checkbox'] {
            display: none;
        }

        label {
            color: gray;
        }

        input:checked + label {
            color: red;
        }
    }

    .npc-section-label {
        font-size: 1.25em;
        font-weight: bold;
    }

    .npc-header {
        height: 150px;
        width: calc(100% - 155px);
        margin-left: 5px;

        h1 {
            display: flex;
            & > input[type='text'] {
                width: calc(100% - 2em);
            }
        }

        .npc-bio {
            display: grid;
            grid-template-columns: 1fr 9em;
            height: calc(150px - 2.5em - 10px);

            textarea {
                resize: none;
                height: calc(100% - 1.5em);
            }
        
            .artha-points {
                place-content: space-evenly;
                div {
                    background-color: transparent;
                }
                &:hover {
                    background-color: transparent;
                }
                .artha-label {
                    font-size: .75em;
                    display: block;
                    width: 3em;
                    text-align: center;
                }

                .artha-input {
                    border: 2px inset black;
                    border-bottom-color: grey;
                    border-right-color: grey;
                    border-radius: .75em;
                    height: 1.5em;
                    width: 1.5em;
                    font-size: 1.5em;
                    text-align: center;

                    &:hover {
                        background-color: rgba(black, .15);
                    }
                }
            }
        }
    }

    .npc-stats {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        text-align: center;
        font-size: 1.25em;

        .stat-header {
            font-weight: bold;
            border-bottom: 1px solid black;
        }

        .stat-value {
            text-align: center;
            input {
                display: inline-block;
                width: 2em;
                @include no-number-arrows;
                text-align: center;
            }
            select {
                display: inline-block;
                @include select-no-arrow;
                text-align-last: center;
            }

            &.stat-rollable:hover {
                color: red;
            }
        }
    }

    .npc-ptgs {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        input[type='number'] {
            width: 1.25em;
            background-color: transparent;
            font-size: 1em;
            text-align: center;
            border: 0;
            border-bottom: 1px solid black;
            margin-top: 5px;
            @include no-number-arrows;
        }
        .ptgs-header {
            grid-row: 1 / 3;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            line-height: 2em;
            .ptgs-subheader {
                line-height: 1em;
                font-size: .75em;
                font-weight: normal;
            }
        }
        .ptgs-category {
            font-size: 1.5em;
            background-color: rgba(black, .1);
        }

        .ptgs-input > input[type="number"] {
            font-size: 1.25em;
        }
        .ptgs-input, .ptgs-category, .ptgs-header  {
            text-align: center;
            border: 1px solid black;
        }
    }

    .indented-section {
        height: min-content;
        margin-left: 20px;
        widtH: 100%;
        .npc-section-label {
            margin-left: -20px;
            &:after {
                content: "—";
            }
        }
        .item-entry {
            font-size: 1.125em;
            margin-left: 5px;
            &:hover {
                color: red;
            }
            &:after {
                content: ",";
            }
            &:last-child:after {
                content: "";
            }

            &.wide {
                min-width: 80%;
            }
        }
        span.item-entry {
            display: inline;
            margin-left: 0;
            margin-right: 5px;
        }
    }

    .bits-section {
        display: grid;
        grid-template-columns: 80px 100px 1fr;
        width: 100%;

        & > .npc-section-label {
            grid-row: 1 / 5;
        }
    }

    .editable-section {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        & > .npc-editable {
            @include button-like(black);
            height: min-content;
        }
    }
    .skill-section {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        & > .npc-editable {
            @include button-like(black);
            height: min-content;

            & > .npc-skill-name {
                width: calc(100% - 4em);
            }

            input[type="number"] {
                @include no-number-arrows;
                width: 1.5em;
                height: 1.5em;
                text-align: center;
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid black;
            }
            select {
                @include select-no-arrow;
                width: 1.5em;
                height: 1.5em;
                border: 1px solid black;
                margin-left: 3px;
                border-radius: 0;
                text-align-last: center;
            }
            i {
                margin-top: 3px;
            }
        }
    }
}