<div class="chat-message flex-row">
    <div class="roll-half-width">
        <label>Successes</label>
        <div>{{ successes }}</div>
    </div>
    <div class="roll-half-width">
        <label>Difficulty</label>
        <div>{{ difficulty }}</div>
    </div>
    <div class="roll-dice roll-full-width flex-row">
        {{#each rolls as |r|}}
        <div class="roll-die" data-success="{{r.success}}">
            {{r.roll}}
        </div>
        {{/each}}
    </div>
    <div class="roll-full-width">
        {{difficultyGroup}}
    </div>
    {{#if success}}
    <div class="roll-result roll-full-width">
        Success!
    </div>
    {{else}}
    <div class="roll-result roll-full-width">
        Failure!
    </div>
    {{/if}}
</div>