<form class="dialog">
    <h2>{{name}} Test</h2>
    <div class="flex-row">
        <div class="flex-row dialog-row">
            <label>Exponent</label>
            <input type="number" class="exponent" disabled name="skill.exp" value="{{skill.exp}}">
        </div>
        <div class="flex-row dialog-row">
            <label>Difficulty</label>
            <input type="number" class="exponent" name="difficulty" value="{{difficulty}}">
        </div>
        <div class="flex-row dialog-row">
            <label>Bonus Dice</label>
            <input type="number" class="exponent" name="bonusDice" value="{{bonusDice}}">
        </div>
        <div class="flex-row dialog-row">
            <label>Artha Dice</label>
            <input type="number" class="exponent" name="arthaDice" value="{{arthaDice}}">
        </div>
    </div>
</form>