<div class="chat-message flex-row">
    <div class="roll-full-width message-title {{nameClass}}">
        {{name}}
    </div>
    <div class="roll-full-width roll-{{difficultyGroup}}">
        {{difficultyGroup}}
    </div>
    <div class="roll-half-width">
        {{#each dieSources as |source|}}
        <div class="right-align">
            {{@key}} {{source}}
        </div>
        {{/each}}
    </div>
    <div class="roll-half-width">
        <div class="left-align">
            +{{difficulty}} Base Ob
        </div>
        {{#if obPenalty}}
        <div class="left-align">
            +{{obPenalty}} Wound Penalty
        </div>    
        {{/if}}
        {{#if penaltySources}}
        {{#each penaltySources as |s|}}
        <div class="left-align">
            {{s}} {{@key}}
        </div>
        {{/each}}
        {{/if}}
    </div>
    <div class="roll-half-width">
        <label>Successes</label>
        <div>{{ successes }}</div>
    </div>
    <div class="roll-half-width">
        <label>Obstacle</label>
        <div>{{ obstacleTotal }}</div>
    </div>
    <div class="roll-dice roll-full-width flex-row">
        {{#each rolls as |r|}}
        <div class="roll-die" data-success="{{r.success}}">
            {{r.roll}}
        </div>
        {{/each}}
    </div>
    {{#if success}}
    <div class="roll-result roll-full-width roll-success">
        Success!
    </div>
    {{else}}
    <div class="roll-result roll-full-width roll-failure">
        Failure!
    </div>
    {{/if}}
</div>