<form class="dialog">
    <h2>{{name}}</h2>    
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Help</div><hr class="dialog-section-after">
        <div class="flex-row dialog-row">
            <label>Exponent</label>
            <input type="number" class="exponent" disabled value="{{exponent}}">
        </div>
        {{#if useCustomDifficulty}}
        <div class="flex-row dialog-row">
            <label>Difficulty</label>
            <input type="number" class="exponent" name="difficulty" value="3">
        </div>
        {{/if}}
    </div>
    {{#if useCustomDifficulty}}<input type="hidden" name="forceCustomDifficulty" value="1">{{/if}}
</form>