<form class="dialog">
    <h2>{{name}}</h2>    
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Help</div><hr class="dialog-section-after">
        <div class="flex-row dialog-row">
            <label>Exponent</label>
            <input type="number" class="exponent" disabled value="{{exponent}}">
        </div>
        <div class="dialog-row">
            Advancement for helping will be logged at the obstacle of the test being helped.
        </div>
    </div>
</form>