@import "../mixins.scss";

.beliefs, .instincts {
    .bits-item {
        & > .bits-artha {
            flex: 0 0 100px;
            border-right: 1px solid black;
            margin-bottom: 2px;

            .bits-item-name {
                cursor: pointer;
                width: 100%;
                &:hover {
                    color: #800;
                }
            }

            input[type="checkbox"] {
                width: 1em;
                height: 1em;
                margin: 0;
            }
        }
        & > .bits-buttons {
            flex: 0 20px;
            border-right: 1px solid black;

            i {
                width: 20px;
                text-align: center;
                color: gray;
                margin-top: 3px;
                cursor: pointer;
                
                &:hover {
                    color: #800;
                }
            }
        }
        & > textarea {
            flex: 1 1 200px;
            resize: vertical;
            border: 0;
            min-height: 3em;
            height: 3em;
        }
    }
}

.traits {
    .trait-category {
        width: calc(33% - 10px);
        margin: 5px;

        .trait {

            @include colored-item(black);
            textarea {
                background-color: transparent;
                min-height: 8em;
            }

            h3 {
                margin-bottom: 0;
            }

            label {
                flex: 1 100px;
            }

            i {
                flex: 0 12px;
                font-size: 12px;
                margin-top: 6px;
                margin-left: 5px;
                color: transparentize($color: black, $amount: 0.25)
            }
    
            i:hover {
                color: #FF0000;
            }
        }
    }
}
