@import "../mixins.scss";

.character {
    textarea {
        font-family: unset;
    }

    h2 {
        &.section-header {
            &:hover {
                background-color: rgba(0,0,0,0.15);
            }

            margin-top: .75em;
            margin-bottom: 0px;
            background-color: rgba(0,0,0,0.05);
        }

        text-align: center;
    }

    .character-header {
        h2 {
            margin-top: 0;
            grid-column: 1 / 3;
        }

        .portrait {
            width: 250px;
            height: 250px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .section-index {
            width: calc(100% - 255px);
            margin-left: 5px;
            grid-template-rows: repeat(auto-fill, 40px);

            input {
                @include underlined-input;

                &[type="number"] {
                    width: 100%;
                    padding: 3px 1px 3px 1px;
                    height: 24px;
                    @include no-number-arrows;
                }
            }
        }
    }
    
    .stats, .attributes, .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;

        .rollable {
            @include colored-item(black);
            height: min-content;

            &.can-advance {
                background-color: rgba(orange, 0.25);
            }

            select.shade, input.exponent, button {
                width: 3em;
                height: 2em;
            }
        }

        input.rollable-name {
            border: 0;
            border-bottom: 1px solid black;
            border-radius: 0;
            padding: 1px 0px;
        }
        .rollable-name {
            width: calc(100% - 10.5em);
            margin-right: 1em;
            font-size: 1.125em;
        }

        .collapse-checkbox {
            display: none;
        }

        .collapse-checkbox:checked ~ .collapsing-section {
            height: 0;
            display: none;
        }

        .collapse-label {
            margin-right: 5px;
        }

        .collapse-checkbox:checked + .collapse-label > i {
            transform: rotate(-90deg);
        }

        .collapsing-section {
            width: 100%;
        }

        .test-tracking {
            @include progress-ticks;

            .test-title {
                width: 33%;
            }

            .tests-needed {
                width: 1.5em;
            }
        }

        input[type=radio] {
            visibility: hidden;
            display: none;
        }

        .attribute-subrow {
            display: inline-block;

            label {
                font-size: 1.125em;
                display: inline-block;
                text-align: center;
                margin-left: 20px;
            }
        }
    }

    .attributes {
        .attributes-derived {
            grid-column: 1 / 4;
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(3, 1fr);

            .attribute-label, .debt-label {
                font-size: 1.125em;
                display: block;
                width: 50%;
            }
            .debt-label {
                width: 30%;
            }

            .attribute-value, .attribute-text {
                font-size: 1.125;
                border: 0;
                border-bottom: 1px solid black;
                background-color: transparent;
                text-align: center;               
            }

            .attribute-value {
                font-weight: bold;
                width: 4em;
            }
            .attribute-text {
                width: 65%;
                border-radius: 0;
            }
        }
    }
}