.character {
    .traits {
        display: flex;
        flex-direction: row;

        .trait-category {
            width: calc(33% - 10px);
            margin: 5px;

            i {
                float: right;
                font-size: 16px;
                margin-top: 6px;
            }

            i:hover {
                color: #FF0000;
            }
        }
    }

    .stats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;

        .test-tracking {
            display: flex;
        }

        .test-tracking > .test-title {
            width: 33%;
        }

        input[type=radio] {
            visibility: hidden;
            display: none;
        }

        label.progress-tick {
            display: block;
            background-color: #333333;
            border: 1px solid black;
            border-radius: 10px;
            width: 20px;
        }

        input[type=radio]:checked ~ label {
            background-color: white;
        }

        input[type=radio]:checked + label {
            background-color: #333333;
        }
    }
}