@import '../mixins.scss';

.practice-log {
    width: 33%;

    .add-new-item-label {
        @include button-like(green);
    }

    textarea {
        resize: vertical;
        height: calc(100% - 2.5em);
    }
}

.learning-section {
    width: 66%;

    .learning {
        width: calc(50% - 10px);
        height: min-content;
        margin: 1px;
        @include colored-item(black);

        button {
            width: 3em;
            height: 2em;
        }

        h3 {
            width: calc(100% - 5em);
            margin-top: 3px;
            font-weight: bold;
            text-align: center;
        }
        .learning-xp {
            margin-left: 1.5em;
            margin-bottom: 3px;
            @include progress-ticks;
        }
    }
}
