@import "../mixins.scss";

.ptgs {
    display: grid;
    grid-template-columns: 2fr repeat(16, 1fr);
    row-gap: 5px;
    &>div {

        border: 1px solid black;
    }
    select {
        /* remove dropdown triangle for IE-10 */
        &::-ms-expand {
            display: none;
        }
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
        border: 0;
    }

    .ptgs-top {
        height: 2em;
        text-align: center;
        
        i.fas:hover {
            color: red;
        }
    }

    .ptgs-mid {
        height: 2em;
        text-align: center;
        background-color: darkgrey;
    }

    .ptgs-scale {
        height: 6em;
        text-align: center;

        label.wound-clear {
            display: block;
            color: transparent;
            width: 15px;
            text-align: center;
            margin: 1px auto 1px auto;
        }

        label.wound-clear:hover {
            color: red;
        }

        input[type=radio] {
            visibility: hidden;
            display: none;
        }

        label.wound-tick {
            display: block;
            background-color: #333333;
            border: 1px solid black;
            border-radius: 7px;
            width: 15px;
            height: 15px;
            margin: 1px auto 1px auto;
        }

        input[type=radio]:checked ~ label.wound-tick:hover {
            background-color: $hover-color;
        }

        input[type="radio"]:checked ~ .wound-tick {
            background-color: white;
        }
        input[type="radio"]:checked + .wound-tick {
            background-color: #333333;
        }
    }

    .ptgs-obpenalty , .ptgs-wounddice {
        justify-content: space-between;
        & > button {
            width: calc(100% - 6px);
            margin: 1px 3px;
            height: min-content;
        }
        & > .ptgs-big-number {
            font-size: 32px;
            font-weight: bolder;
            text-align: center;
        }

        & input:checked + button {
            background: linear-gradient(rgba(green, .05), rgba(green, 0.25));
        }

        & > input {
            display: none;
        }
    }

    .ptgs-obpenalty {
        height: 12em;
        grid-column: 1 / 3;
    }
    .ptgs-wounddice {
        grid-column: 3 / 6;
    }

    .ptgs-woundnotes1, .ptgs-woundnotes2, .ptgs-woundnotes3 {
        h3 {
            text-align: center;
        }

        textarea {
            resize: none;
            border: 0;
            margin: auto;
            height: 8em
        }
    }

    .ptgs-woundnotes1 {
        grid-column: 6 / 10;
    }
    .ptgs-woundnotes2 {
        grid-column: 10 / 14;
    }
    .ptgs-woundnotes3 {
        grid-column: 14 / 19
    }

    h3 {
        text-align: center;
        width: 100%;
    }
}