@import "../mixins.scss";

.relationship-section {
    .relationships {
        width: 40%;

        .item-title {
            width: calc(95% - 36px);
        }

        .relationship {
            & > i {
                width: 18px;

                &:hover {
                    color: red;
                }
            }
        }

        .relationship-hostile {
            @include colored-item(red);
        }
        .relationship-friendly {
            @include colored-item(green);
        }
        .relationship-neutral {
            @include colored-item(black);
        }
    }
    .reputations, .affiliations {
        width: 30%;
    }

    .relationship-progress {
        @include progress-ticks;
    }
}
