@import '../mixins.scss';

.relationship-section {
    h2 > i {
        font-size: 0.75em;
        &:hover {
            color: red;
        }
    }

    .relationship {
        .item-title {
            width: calc(100% - 5em);
        }
    }

    .reputation,
    .affiliation {
        .item-title {
            width: calc(100% - 2.6em);
        }
    }

    .item-title {
        & ~ button.rollable {
            width: 2em;
            height: 2em;
            padding: 0;
            margin: 0 5px 0 0;
            border-radius: 1em;
        }

        & ~ i {
            align-self: center;
        }
    }

    .relationship,
    .reputation,
    .affiliation {
        & > i {
            width: 18px;

            &:hover {
                color: red;
            }
        }
    }

    .relationships {
        width: 40%;

        .relationship-hostile {
            @include colored-item(red);
        }
        .relationship-friendly {
            @include colored-item(green);
        }
        .relationship-neutral {
            @include colored-item(black);
        }
    }
    .reputations,
    .affiliations {
        width: 30%;

        .reputation {
            &.reputation-infamous {
                @include colored-item(red);
            }
            &.reputation-famous {
                @include colored-item(green);
            }
        }
        .affiliation {
            @include colored-item(orange);
        }
    }

    .relationship-progress {
        @include progress-ticks;
    }
}
