@import "../mixins.scss";

.spell-section {
    .spell-sustained-info {
        display: grid;
        grid-template-columns: 1fr 4em;
    }
    .sustained-spell-list {
        .grid-header {
            font-weight: bold;
        }

        grid-column: 2 / span 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr 3em min-content);

        input {
            @include underlined-input;
            height: 100%;

            &[type="number"] {
                width: 3em;
                @include no-number-arrows;
            }
        }
    }

    .spell-section-item {
        height: min-content;
        @include colored-item(black);
    }

    .spell-item-title {
        width: calc(100% - 2.5em);
        display: block;
        font-weight: bold;
        font-size: 1.125em;
        line-height: 2em;

        i {
            font-size: 14px;
        }
    }
    .spell-details {
        position: relative;
        .edit-icons {
            position: absolute;
            bottom: 1px;
            right: 3px;
            &:hover {
                background-color: unset;
            }
            i:hover {
                color: red;
            }
        }

        &:hover {
            background-color: unset;
        }
        width: 100%;
        border-top: 2px groove salmon;

        .spell-details-label {
            font-weight: bold;
        }
        .spell-details-label, .spell-details-data {
            &:hover {
                background-color: unset;
            }
            width: 50%;
        }

        select {
            height: unset;
        }

        .spell-weapon {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 75%;

            .table-header {
                background-color: rgba(black, 0.15);
                font-weight: bold;;
            }
            
            &:hover {
                background-color: unset;
            }

            div {
                border: 1px solid black;
                margin-bottom: -1px;
                margin-right: -1px;
                text-align: center;
            }
        }

        .practicals-label {
            width: 50%;
            font-weight: bold;
        }

        .test-tracking {
            & > label.progress-clear {
                margin-left: -12px !important;
            }
            width: 50%;
            flex-wrap: wrap;
            @include progress-ticks(12px);
        }
    }
}

.chat-message {
    .spell-extra-info {
        display: grid;
        grid-template-columns: repeat(6, 1fr) 2fr;
        margin: -1px 0 0 -1px;

        .roll-die {
            background-color: rgba(orange, .15);
            color: orangered;
            border-color: orangered;
            margin: auto;
        }

        &>div {
            border: 1px solid black;
            margin-bottom: -1px;
            margin-right: -1px;
            text-align: center;
        }

        .highlight {
            color: orangered;
            font-weight: bold;
        }

        .spell-title {
            grid-column: 1 / 8;
            font-weight: bold;
            font-size: 1.125em;
            background-color: rgba(black, 0.75);
            color: white;
        }
        .ims-header {
            background: rgba(black, .15);
            font-weight: bold;
        }
    }
}
