.combat-section {
    .weapons {
        width: calc(60% - 5px);
    }
    .armor {
        width: 40%;
        margin-left: 5px;
    }

    .clumsy-stats {
        width: 100%;

        .clumsy-item {
            width: 20%;
            text-align: center;

            .clumsy-label {
                width: 70%;
                text-align: right;
                padding-right: 5px;
            }
            .clumsy-value {
                border-bottom: 1px solid black;
                width: 30%;
                height: min-content;
            }
        }
    }

    .weapon-grid {
        column-gap: 0px;
        row-gap: 0px;
        grid-template-columns: 5fr repeat(7, 1fr) 2fr 0;
        .weapon-header {
            background-color: rgba(black, .15);
        }

        .weapon-row:nth-child(2n) {
            background-color: rgba(black, .05);
        }
    }

    .ranged-grid {
        column-gap: 0px;
        row-gap: 0px;
        grid-template-columns: 5fr repeat(5, 1fr) 2fr 0;
        .weapon-header {
            background-color: rgba(black, .15);
        }
        .weapon-row:nth-child(2n) {
            background-color: rgba(black, .05);
        }
        .weapon-ims {
            margin-bottom: -10px;
        }
        .weapon-dof {
            text-align: center;
            font-size: 10px;
        }
    }

    .weapon-grid, .ranged-grid {
        .weapon-row {
            font-size: 16px;
            text-align: center;
        }
    }

    .weapon-header, .armor-header {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid black;
    }

    .armor-grid {
        grid-template-columns: 2.75em 2.75em 6em 1fr;
        row-gap: 0;
        column-gap: 0;

        .armor-header {
            background-color: rgba(black, .15);
        }
        .armor-row {
            font-size: 16px;
            text-align: center;
            border-bottom: 1px solid black;
            margin: 0 2px;
        }
    }
}
