@import "../mixins.scss";
.combat-section {
    .weapons {
        width: 100%
    }
    .armor {
        flex: 1;
        margin-left: 1%;
    }

    .armor-misc {
        flex: 1;
        .training-skills {

            .training-skill {
                @include colored-item(black);
                font-size: 1em;
                line-height: 1.5em;

                .training-skill-name {
                    width: calc(100% - 3em);
                }

                i {
                    &:hover {
                        color: red;
                    }
                    padding: 2px;
                }
            }
            
            h3 {
                background-color: rgba(black, .15);
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                border-bottom: 1px solid black;
            }
        }

        .clumsy-stats {
            h3 {
                background-color: rgba(black, .15);
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                border-bottom: 1px solid black;
            }

            .clumsy-item {
                width: 50%;
                text-align: center;

                .clumsy-label {
                    flex: 1 1 120px;
                    text-align: right;
                    padding-right: 5px;
                }
                .clumsy-value {
                    border-bottom: 1px solid black;
                    flex: 0 0 45px;
                    height: min-content;
                }
            }
        }
    }

    .weapon-grid {
        column-gap: 0;
        row-gap: 0;
        grid-template-columns: 5fr repeat(7, 1fr) 2fr 3fr 1fr;
        .weapon-header {
            background-color: rgba(black, .15);
        }

        .weapon-row:nth-child(22n+1), .weapon-row:nth-child(22n+2),
        .weapon-row:nth-child(22n+3), .weapon-row:nth-child(22n+4),
        .weapon-row:nth-child(22n+5), .weapon-row:nth-child(22n+6),
        .weapon-row:nth-child(22n+7), .weapon-row:nth-child(22n+8),
        .weapon-row:nth-child(22n+9), .weapon-row:nth-child(22n+10),
        .weapon-row:nth-child(22n+11) {
            background-color: rgba(black, .1);
        }
    }

    .ranged-grid {
        column-gap: 0;
        row-gap: 0;
        grid-template-columns: 5fr repeat(5, 1fr) 2fr 3fr 1fr;
        .weapon-header {
            background-color: rgba(black, .15);
        }

        .weapon-row:nth-child(18n+1), .weapon-row:nth-child(18n+2),
        .weapon-row:nth-child(18n+3), .weapon-row:nth-child(18n+4),
        .weapon-row:nth-child(18n+5), .weapon-row:nth-child(18n+6),
        .weapon-row:nth-child(18n+7), .weapon-row:nth-child(18n+8),
        .weapon-row:nth-child(18n+9) {
            background-color: rgba(black, .1);
        }
        .ims-pair {
            line-height: 1em;

            .weapon-ims {
                line-height: 1.5em;
                margin-bottom: -.5em;
            }
            .weapon-dof {
                text-align: center;
                font-size: 10px;
                line-height: 10px;
            }
        }
    }

    .weapon-grid, .ranged-grid {
        .weapon-row {
            font-size: 1.15em;
            line-height: 1.9em;
            text-align: center;

            .weapon-skill-select {
                width: 100%;
                text-align-last: center;
            }

            button {
                height: 2em;
                line-height: 1.75em;
            }
        }
    }

    .weapon-header, .armor-header {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid black;
    }

    .armor-grid {
        grid-template-columns: 2.5em 2.75em 2.75em 6em 1fr;
        row-gap: 0;
        column-gap: 0;

        .armor-header {
            background-color: rgba(black, .15);
        }
        .armor-row {
            font-size: 16px;
            text-align: center;
            border-bottom: 1px solid black;
            margin: 0 2px;
            height: min-content;
            min-height: 21px;
        }

        .armor-damage-input {
            background-color: rgba(black, .1);
            text-align: center;
            border: 0;
            border-bottom: 1px solid black;
            height: 100%;
            max-height: 21px;
            border-radius: 0;
            @include no-number-arrows;
        }

        .armor-broken {
            background-color: rgba(red, .1);
            color: #800;
        }

        button {
            &.armor-broken {
                pointer-events: none;
            }
            height: 1.5em;
            line-height: 1.25em;
        }
    }
}

.chat-message {
    .weapon-extra-info, .ranged-extra-info {
        display: grid;
        grid-template-columns: repeat(5, 1fr) 2fr;
        margin: -1px 0 0 -1px;

        &>div {
            border: 1px solid black;
            margin-bottom: -1px;
            margin-right: -1px;
        }

        .ims-title {
            grid-column: 1 / 7;
            font-weight: bold;
            font-size: 1.125em;


            &.shade-grey {
                background-color: rgba(black, 0.35);
            }
    
            &.shade-black {
                background-color: rgba(black, 0.75);
                color: white;
            }
    
            &.shade-white {
                background-color:  rgba(white, .75);
                color: black;
            }
        }
        .ims-header {
            background: rgba(black, .15);
            font-weight: bold;

            &.no-left {
                border-left: 0;
            }
            &.no-right {
                border-right: 0;
            }
        }

        .highlight {
            color: orangered;
            font-weight: bold;
        }

        .roll-die {
            background-color: rgba(orange, .15);
            color: orangered;
            border-color: orangered;
            margin: auto;
        }
    }

    .ranged-extra-info {
        grid-template-columns: repeat(4, 1fr) 3fr 1fr;
    }
}