.combat-section {
    .weapons {
        width: calc(60% - 5px);
    }
    .armor {
        width: 40%;
        margin-left: 5px;
    }

    .weapon-grid {
        grid-template-columns: 5fr repeat(7, 1fr) 2fr;
    }

    .ranged-grid {
        grid-template-columns: 5fr repeat(5, 1fr) 2fr;
        .weapon-ims {
            margin-bottom: -10px;
        }
        .weapon-dof {
            text-align: center;
            font-size: 10px;
        }
    }

    .weapon-grid, .ranged-grid {
        .weapon-row {
            font-size: 16px;
            text-align: center;
        }
    }

    .weapon-header, .armor-header {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid black;
    }

    .armor-grid {
        grid-template-columns: 1fr 1fr 75px 4fr;

        .armor-row {
            font-size: 16px;
            text-align: center;
            border-bottom: 1px solid black;
        }
    }
}
