@import "../mixins.scss";

.dialog {
    .checkbox-grid { 
        grid-template-columns: repeat(auto-fit, 24px 104px);
    }

    .dialog-row:hover {
        background-color: $hover-color;
    }

    .dialog-row {
        width: 50%;

        label {
            width: 75%;
        }
    }
}

.search-box {
    border-top: 2px groove salmon;
    font-size: 1.125em;
    padding: 3px;

    .new-trait-dialog-search {
        border: 0;
        width: calc(100% - 1.5em);
    }
}

.search-grid {
    height: 500px;
    overflow-y: auto;
    margin-bottom: 3px;
}

.search-entry {
    margin-bottom: 2px;
    @include button-like(gray);
    border-radius: 0;
    padding: 1px 3px;
}

.item-select-header {
    text-align: left;
    width: 100%;
    border-bottom: 2px groove salmon;
    font-size: 1.25em;
    font-weight: bold;
}

.item-select-info {
    width: 33%;
    text-align: right;
}

.compendium-select {
    max-height: 400px;
    overflow-y: auto;
    .compendium-item {
        border: 2px groove grey;
        border-radius: 3px;
        margin-bottom: 3px;
        background: linear-gradient(0deg, gray, darkgray);
        label {
            font-size: 1.25em;
            font-weight: bold;
            width: calc(100% - 2em);
            display: inline-block;
        }
        input {
            height: 1.125em;
            width: 1.125em;
        }
    }
}

.import-dialog .window-content {

    .dialog-buttons > button.dialog-button {
        width: calc(50% - 2px);
        margin: 0;
        flex: unset;
    }
}