@import "../mixins.scss";

.dialog {
    margin-bottom: 5px;

    .checkbox-grid { 
        grid-template-columns: repeat(auto-fit, 23px 100px);
    }

    .dialog-row:hover {
        background-color: $hover-color;
    }

    &>.flex-row {
        padding: 3px 5px 0 5px;
        border: 2px outset #b4b4b4;
        border-top: 0;
        border-radius: 5px;
        margin-top: 10px;

        .checkbox-grid {
            margin-top: -10px;
            margin-bottom: 3px;
            width: 100%;

            &.half-width {
                grid-template-columns: 23px 1fr;
                width: 50%;
            }
        }
    }

    .dialog-section-before {
        flex: 0 0 10px;
        margin-top: -3px;
        margin-bottom: 17px;
        margin-left: -4px;
        border: 1px solid #b4b4b4
    }

    .dialog-section-text {
        padding-right: 5px;
        padding-left: 5px;
        font-size: .9em;
        font-weight: bold;
        margin-top: -10px;
    }

    .dialog-section-after {
        flex: 1 1 50%;
        margin-top: -3px;
        margin-bottom: 17px;
        margin-right: -4px;
        border: 1px solid #b4b4b4
    }

    .dialog-row {
        flex-basis: 50%;
        margin-top: -10px;
        margin-bottom: 10px;

        label {
            flex: 1 1 50%;
            line-height: 1.5em;
        }
        input {
            flex: 0 0 2.5em;
            margin-right: 5px;
            text-align: center;

            &:enabled {
                background-color: white;
            }
        }

        select {
            flex: 0 0 2.6em;
            margin-right: 5px;
            @include  select-no-arrow;
            text-align-last: center;
            border: 1px solid grey;
        }
    }

    .roll-warning {
        width: 100%;
        padding: 3px;
        border: 2px outset #b4b4b4;
        text-align: center;
        border-radius: 5px;
        margin: 8px 0;
        font-weight: bold;
        background-color: rgba(80, 0, 0, .25);
        color: #800;
    }
}

.search-box {
    border-top: 2px groove salmon;
    font-size: 1.125em;
    padding: 3px;

    .new-item-dialog-search {
        border: 0;
        width: calc(100% - 1.5em);
    }
}

.import-compendium-select {
    select {
        width: 95%;        
        height: 4em;
    }

    .select2-selection--multiple {
        height: 4em;
        overflow-y: scroll;
    }
}

.search-grid {
    height: 500px;
    overflow-y: auto;
    margin-bottom: 3px;
}

.search-entry {
    margin-bottom: 2px;
    @include button-like(gray);
    border-radius: 0;
    padding: 1px 3px;
}

.item-select-header {
    text-align: left;
    width: 100%;
    border-bottom: 2px groove salmon;
    font-size: 1.25em;
    font-weight: bold;
}

.item-select-info {
    width: 33%;
    text-align: right;
}

.compendium-select {
    max-height: 400px;
    overflow-y: auto;
    .compendium-item {
        border: 2px groove grey;
        border-radius: 3px;
        margin-bottom: 3px;
        background: linear-gradient(0deg, gray, darkgray);
        label {
            font-size: 1.25em;
            font-weight: bold;
            width: calc(100% - 2em);
            display: inline-block;
        }
        input {
            height: 1.125em;
            width: 1.125em;
        }
    }
}

.import-dialog .window-content {

    .dialog-buttons > button.dialog-button {
        width: calc(50% - 2px);
        margin: 0;
        flex: unset;
    }
}