.chat-message {
    display: flex;

    hr {
        width: 100%;
    }

    .message-title {
        font-size: 1.5em;
        font-weight: bold;

        &.shade-grey {
            background-color: rgba(black, 0.35);
        }

        &.shade-black {
            background-color: rgba(black, 0.75);
            color: white;
        }

        &.shade-white {
            background-color:  rgba(white, .75);
            color: black;
        }

        &.open-roll {
            color: gold;
        }
    }

    div {
        text-align: center;

        &.left-align {
            text-align: left;
        }

        &.right-align {
            text-align: right;
        }

        &.vertical-divider {
            border: 0;
            border-left: 1px solid #333;
            border-right: 1px solid #ccc;
            margin: 1px 5px;
        }
    }

    .roll-half-width {
        width: 50%;
        padding: 5px;
        border: 1px black solid;
        margin-bottom: -1px;
    }

    .roll-full-width {
        width: 100%;
        padding: 3px 5px;
        border: 1px black solid;
        margin-bottom: -1px;

        &.roll-extra-info {
            padding: 0;
        }
    }

    .roll-dice, .secondary-dice {
        justify-content: center;
    }

    .secondary-pool {
        border-bottom: 1px solid black;
    }
    .secondary-dice {
        padding: 5px;
    }
    .roll-die {
        color: red;
        background-color: rgba(255, 0, 0, 0.25);
        &[data-success="true"]{
            color: green;
            background-color: rgba(144, 238, 144, 0.25);
        }
        border: solid black 1px;
        border-radius: 3px;
        width: 16px;
        height: 16px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin: 2px;
        display: inline-block;
    }

    .roll-Routine {
        background-color: rgba(white, .75);
    }

    .roll-Difficult {
        background-color: rgba(black, 0.35);
    }

    .roll-Challenging {
        background-color: rgba(black, 0.75);
        color: white;
    }

    .roll-success {
        background-color: rgba(green, .5);
    }
    .roll-failure {
        background-color: rgba(red, .5);
    }

    .reroll-buttons {
        .chat-reroll > button {
            line-height: 1.5em;
        }
    }
}