<div class="footer">
    <span class="footer-left"><a href="https://github.com/StasTserk/foundry-burningwheel/issues/">Report Problem</a></span>
    <span class="footer-center">Sheet Version {{systemVersion}}</span>
    <span class="footer-right">See Release notes <a href="https://github.com/StasTserk/foundry-burningwheel/releases/">on github.</a></span>
</div>
