<form autocomplete="off" class="character">
    <h2>Character Index</h2>
    <div class="header">
        <label>Name
            <input type="text" name="name" value="{{actor.name}}">
        </label>
        <label>Stock
            <input type="text" name="data.stock" value="{{data.stock}}">
        </label>
        <label>Age
            <input type="number" name="data.age" value="{{data.age}}">
        </label>
        <label>Lifepaths
            <input type="text" name="data.lifepathString" value="{{data.lifepathString}}">
        </label>
    </div>
    <div class="subheader">
        <label>Alias
            <input type="text" name="data.alias" value="{{data.alias}}">
        </label>
        <label>Homeland
            <input type="text" name="data.homeland" value="{{data.homeland}}">
        </label>
        <label>Features
            <input type="text" name="data.features" value="{{data.features}}">
        </label>
    </div>
    <input type="checkbox" id="collapseBeliefs" name="data.collapseBeliefs" class="section-collapse beliefs-collapse" {{ checked data.collapseBeliefs }}>
    <h2>
        <label for="collapseBeliefs" class="section-collapse-label"><i class="fas fa-chevron-down"></i></label>
        Beliefs
    </h2>
    <div class="beliefs">
        {{#each beliefs as |belief iid|}}
            <div class="belief" >
                F:<input type="checkbox" data-item-id="{{belief._id}}" data-binding="data.fate" {{ checked belief.data.fate }}>
                P:<input type="checkbox" data-item-id="{{belief._id}}" data-binding="data.persona"  {{ checked belief.data.persona }}>
                D:<input type="checkbox" data-item-id="{{belief._id}}" data-binding="data.deeds" {{ checked belief.data.deeds }}>
                <input type="text" data-item-id="{{belief._id}}" data-binding="data.text" value="{{belief.data.text}}">
            </div>
        {{/each}}
    </div>
    <input type="checkbox" id="collapseInstincts" name="data.collapseInstincts" class="section-collapse instincts-collapse" {{ checked data.collapseInstincts }}>
    <h2>
        <label for="collapseInstincts" class="section-collapse-label"><i class="fas fa-chevron-down"></i></label>
        Instincts
    </h2>
    <div class="instincts">
        {{#each instincts as |instinct|}}
            <div class="instinct">
                F:<input type="checkbox" data-item-id="{{instinct._id}}" data-binding="data.fate" {{ checked instinct.data.fate }}>
                P:<input type="checkbox" data-item-id="{{instinct._id}}" data-binding="data.persona" {{ checked instinct.data.persona }}>
                D:<input type="checkbox" data-item-id="{{instinct._id}}" data-binding="data.deeds" {{ checked instinct.data.deeds }}>
                <input type="text" data-item-id="{{instinct._id}}" data-binding="data.text" value="{{instinct.data.text}}">
            </div>
        {{/each}}
    </div>
    <input type="checkbox" id="collapseTraits" name="data.collapseTraits" class="section-collapse traits-collapse" {{ checked data.collapseTraits }}>
    <h2>
        <label for="collapseTraits" class="section-collapse-label"><i class="fas fa-chevron-down"></i></label>
        Traits
    </h2>
    <div class="traits flex-row">
        <div class="trait-category">
            <h2>Character Traits
                <i data-action="addTrait" data-id="character" class="fas fa-plus"></i>
            </h2>
            {{#each traits.character as |trait|}}
                <div class="trait" data-item-id="{{trait._id}}">
                    <h3>
                        {{ trait.name }}
                        <i class="fas fa-trash" data-action="delItem" data-id="{{trait._id}}"></i>
                        <i class="fas fa-edit" data-action="editItem" data-id="{{trait._id}}"></i>
                    </h3>
                </div>
            {{/each}}
        </div>
        <div class="trait-category">
            <h2>Die Traits
                <i data-action="addTrait" data-id="die" class="fas fa-plus"></i>
            </h2>
            {{#each traits.die as |trait|}}
                <div class="trait" data-item-id="{{trait._id}}">
                    <h3>
                        {{ trait.name }}
                        <i class="fas fa-trash" data-action="delItem" data-id="{{trait._id}}"></i>
                        <i class="fas fa-edit" data-action="editItem" data-id="{{trait._id}}"></i>
                    </h3>
                    <textarea disabled="disabled">{{trait.data.text}}</textarea>
                </div>
            {{/each}}
        </div>
        <div class="trait-category">
            <h2>Call-on Traits
                <i data-action="addTrait" data-id="call-on" class="fas fa-plus"></i>
            </h2>
            {{#each traits.callon as |trait|}}
                <div class="trait" data-item-id="{{trait._id}}">
                    <h3>
                        {{ trait.name }}
                        <i class="fas fa-trash" data-action="delItem" data-id="{{trait._id}}"></i>
                        <i class="fas fa-edit" data-action="editItem" data-id="{{trait._id}}"></i>
                    </h3>
                    <textarea disabled="disabled">{{ trait.data.text }}</textarea>
                </div>
            {{/each}}
        </div>
    </div>
    <input type="checkbox" id="collapseStats" name="data.collapseStats" class="section-collapse stats-collapse" {{ checked data.collapseStats }}>
    <h2>
        <label for="collapseStats" class="section-collapse-label"><i class="fas fa-chevron-down"></i></label>
        Stats
    </h2>
    <div class="stats">
        {{> "systems/burningwheel/templates/parts/rollable-item.html" statName="Will" stat=data.will namePrefix="data.will"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.html" statName="Power" stat=data.power namePrefix="data.power"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.html" statName="Agility" stat=data.agility namePrefix="data.agility"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.html" statName="Perception" stat=data.perception namePrefix="data.perception"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.html" statName="Forte" stat=data.forte namePrefix="data.forte"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.html" statName="Speed" stat=data.speed namePrefix="data.speed"}}
    </div>
    <input type="checkbox" id="collapseAttributes" name="data.collapseAttributes" class="section-collapse attributes-collapse" {{ checked data.collapseAttributes }}>
    <h2>
        <label for="collapseAttributes" class="section-collapse-label"><i class="fas fa-chevron-down"></i></label>
        Attributes
    </h2>
    <div class="attributes">
        {{> "systems/burningwheel/templates/parts/rollable-item.html" statName="Health" stat=data.health namePrefix="data.health" routine=true}}
        {{> "systems/burningwheel/templates/parts/rollable-item.html" statName="Steel" stat=data.steel namePrefix="data.steel" routine=true}}
        {{> "systems/burningwheel/templates/parts/rollable-item.html" statName="Circles" stat=data.circles namePrefix="data.circles" routine=true}}
        {{> "systems/burningwheel/templates/parts/rollable-item.html" statName="Resources" stat=data.resources namePrefix="data.resources" routine=true}}
        {{> "systems/burningwheel/templates/parts/rollable-item.html" statName="Custom1" stat=data.custom1 namePrefix="data.custom1" routine=true customName=true}}
        {{> "systems/burningwheel/templates/parts/rollable-item.html" statName="Custom2" stat=data.custom2 namePrefix="data.custom2" routine=true customName=true}}
    </div>
    <input type="checkbox" id="collapseRelationships" name="data.collapseRelationships" class="section-collapse relationships-collapse" {{ checked data.collapseRelationships }}>
    <h2>
        <label for="collapseRelationships" class="section-collapse-label"><i class="fas fa-chevron-down"></i></label>
        Relationships & Reputations
    </h2>
    <div class="relationship-section flex-row">
        <div class="relationships">
            <h2>Relationships  <i data-action="addRelationship" class="fas fa-plus"></i></h2></i>
            {{#each relationships as |r|}}
                {{> "systems/burningwheel/templates/parts/relationships.html" relationship=r exp=../data.circles.exp}}
            {{/each}}
        </div>
        <div class="reputations">
            <h2>Reputations</h2>
        </div>
        <div class="affiliations">
            <h2>Affiliations</h2>
        </div>
        <hr>
    </div>
    <input type="checkbox" id="collapseGear" name="data.collapseGear" class="section-collapse gear-collapse" {{ checked data.collapseGear }}>
    <h2>
        <label for="collapseGear" class="section-collapse-label"><i class="fas fa-chevron-down"></i></label>
        Gear, Posessions, and Property
    </h2>
    <div class="gear item-grid col-4">
        {{#each equipment as |e|}}
        <div>
            {{e.name}}
            <i class="fas fa-trash item-action-icon" data-action="delItem" data-id="{{e._id}}"></i>
            <i class="fas fa-edit item-action-icon" data-action="editItem" data-id="{{e._id}}"></i>
        </div>
        {{/each}}
    </div>
    <input type="checkbox" id="collapseMisc" name="data.collapseMisc" class="section-collapse misc-collapse" {{ checked data.collapseMisc }}>
    <h2>
        <label for="collapseMisc" class="section-collapse-label"><i class="fas fa-chevron-down"></i></label>
        Notes, Spells and Other Miscellanea
    </h2>
    <div class="misc-section item-grid col-3">
        <textarea name="data.miscNotes1" class="note-box" rows="4">{{data.miscNotes1}}</textarea>
        <textarea name="data.miscNotes2" class="note-box" rows="4">{{data.miscNotes2}}</textarea>
        <textarea name="data.miscNotes3" class="note-box" rows="4">{{data.miscNotes3}}</textarea>
    </div>
    <input type="checkbox" id="collapseSkills" name="data.collapseSkills" class="section-collapse skills-collapse" {{ checked data.collapseSkills }}>
    <h2>
        <label for="collapseSkills" class="section-collapse-label"><i class="fas fa-chevron-down"></i></label>
        Skills
    </h2>
    <div class="skills">
        {{#each skills as |skill|}}
            {{> "systems/burningwheel/templates/parts/rollable-skill.html" skill=skill }}
        {{/each}}
    </div>
    <input type="checkbox" id="collapseLearning" name="data.collapseLearning" class="section-collapse learning-collapse" {{ checked data.collapseLearning }}>
    <h2>
        <label for="collapseLearning" class="section-collapse-label"><i class="fas fa-chevron-down"></i></label>
        Learning and Practice
    </h2>
    <div class="learning-practice flex-row">
        <div class="flex-row learning-section">
            {{#each training as |skill|}}
                {{> "systems/burningwheel/templates/parts/learning.html" skill=skill }}
            {{/each}}
        </div>
        <div class="practice-log">
            <div>Practice Log</div>
            <textarea name="data.practiceLog">{{data.practiceLog}}</textarea>
        </div>
    </div>
    <input type="checkbox" id="collapsePtgs" name="data.collapsePtgs" class="section-collapse ptgs-collapse" {{ checked data.collapsePtgs }}>
    <h2>
        <label for="collapsePtgs" class="section-collapse-label"><i class="fas fa-chevron-down"></i></label>
        Injury And Recovery
    </h2>
    <div class="ptgs">
        {{> "systems/burningwheel/templates/parts/ptgs.html" ptgs=data.ptgs }}
    </div>
    <input type="checkbox" id="collapseCombat" name="data.collapseCombat" class="section-collapse combat-collapse" {{ checked data.collapseCombat }}>
    <h2>
        <label for="collapseCombat" class="section-collapse-label"><i class="fas fa-chevron-down"></i></label>
        Weapons and Armor
    </h2>
    <div class="combat-section flex-row">
        <div class="weapons">
            {{> "systems/burningwheel/templates/parts/weapons.html" melee=melee ranged=ranged }}
        </div>
        <div class="armor">
            {{> "systems/burningwheel/templates/parts/armor.html" armor=armor }}
        </div>
    </div>
</form>