<form autocomplete="off" class="character">
    <h2>Character Index</h2>
    <div class="header">
        <label>Name
            <input type="text" name="name" value="{{actor.name}}">
        </label>
        <label>Stock
            <input type="text" name="data.stock" value="{{data.stock}}">
        </label>
        <label>Age
            <input type="number" name="data.age" value="{{data.age}}">
        </label>
        <label>Lifepaths
            <input type="text" name="data.lifepathString" value="{{data.lifepathString}}">
        </label>
    </div>
    <div class="subheader">
        <label>Alias
            <input type="text" name="data.alias" value="{{data.alias}}">
        </label>
        <label>Homeland
            <input type="text" name="data.homeland" value="{{data.homeland}}">
        </label>
        <label>Features
            <input type="text" name="data.features" value="{{data.features}}">
        </label>
    </div>
    <div class="beliefs">
        <h2>Beliefs</h2>
        {{#each beliefs as |belief iid|}}
            <div class="belief" data-item-id="{{belief._id}}">
                F:<input class="belief-f" type="checkbox" value="{{belief.data.fate}}" {{ checked belief.data.fate }}>
                P:<input class="belief-p" type="checkbox" value="{{belief.data.persona}}" {{ checked belief.data.persona }}>
                D:<input class="belief-d" type="checkbox" value="{{belief.data.deeds}}" {{ checked belief.data.deeds }}>
                <input class="belief-t" type="text" value="{{belief.data.text}}">
            </div>
        {{/each}}
    </div>
    <div class="instincts">
        <h2>Instincts</h2>
        {{#each instincts as |instinct|}}
            <div class="instinct" data-item-id="{{instinct._id}}">
                F:<input class="instinct-f" type="checkbox" value="{{instinct.data.fate}}" {{ checked instinct.data.fate }}>
                P:<input class="instinct-p" type="checkbox" value="{{instinct.data.persona}}" {{ checked instinct.data.persona }}>
                D:<input class="instinct-d" type="checkbox" value="{{instinct.data.deeds}}" {{ checked instinct.data.deeds }}>
                <input class="instinct-t" type="text" value="{{instinct.data.text}}">
            </div>
        {{/each}}
    </div>
    <div class="traits">
        <div class="trait-category">
            <h2>Character Traits</h2>
            {{#each traits.character as |trait|}}
                <div class="trait" data-item-id="{{trait._id}}">
                    <h3>{{ trait.name }}</h3>
                    <textarea disabled="disabled">{{trait.data.text}}</textarea>
                </div>
            {{/each}}
        </div>
        <div class="trait-category">
            <h2>Die Traits</h2>
            {{#each traits.die as |trait|}}
                <div class="trait" data-item-id="{{trait._id}}">
                    <h3>{{ trait.name }}</h3>
                    <textarea disabled="disabled">{{trait.data.text}}</textarea>
                </div>
            {{/each}}
        </div>
        <div class="trait-category">
            <h2>Call-on Traits</h2>
            {{#each traits.callon as |trait|}}
                <div class="trait" data-item-id="{{trait._id}}">
                    <h3>{{ trait.name }}</h3>
                    <textarea disabled="disabled">{{ trait.data.text }}</textarea>
                </div>
            {{/each}}
        </div>
    </div>
</form>