<form autocomplete="off" class="character">
    <h2>Character Index</h2>
    <div class="header">
        <label>Name
            <input type="text" name="name" value="{{actor.name}}">
        </label>
        <label>Stock
            <input type="text" name="data.stock" value="{{data.stock}}">
        </label>
        <label>Age
            <input type="number" name="data.age" value="{{data.age}}">
        </label>
        <label>Lifepaths
            <input type="text" name="data.lifepathString" value="{{data.lifepathString}}">
        </label>
    </div>
    <div class="subheader">
        <label>Alias
            <input type="text" name="data.alias" value="{{data.alias}}">
        </label>
        <label>Homeland
            <input type="text" name="data.homeland" value="{{data.homeland}}">
        </label>
        <label>Features
            <input type="text" name="data.features" value="{{data.features}}">
        </label>
    </div>
    <div class="beliefs">
        <h2>Beliefs</h2>
        {{#each beliefs as |belief iid|}}
            <div class="belief" >
                F:<input type="checkbox" data-item-id="{{belief._id}}" data-binding="data.fate" {{ checked belief.data.fate }}>
                P:<input type="checkbox" data-item-id="{{belief._id}}" data-binding="data.persona"  {{ checked belief.data.persona }}>
                D:<input type="checkbox" data-item-id="{{belief._id}}" data-binding="data.deeds" {{ checked belief.data.deeds }}>
                <input type="text" data-item-id="{{belief._id}}" data-binding="data.text" value="{{belief.data.text}}">
            </div>
        {{/each}}
    </div>
    <div class="instincts">
        <h2>Instincts</h2>
        {{#each instincts as |instinct|}}
            <div class="instinct">
                F:<input type="checkbox" data-item-id="{{instinct._id}}" data-binding="data.fate" {{ checked instinct.data.fate }}>
                P:<input type="checkbox" data-item-id="{{instinct._id}}" data-binding="data.persona" {{ checked instinct.data.persona }}>
                D:<input type="checkbox" data-item-id="{{instinct._id}}" data-binding="data.deeds" {{ checked instinct.data.deeds }}>
                <input type="text" data-item-id="{{instinct._id}}" data-binding="data.text" value="{{instinct.data.text}}">
            </div>
        {{/each}}
    </div>
    <div class="traits">
        <div class="trait-category">
            <h2>Character Traits
                <i data-action="addTrait" data-id="character" class="fas fa-plus"></i>
            </h2>
            {{#each traits.character as |trait|}}
                <div class="trait" data-item-id="{{trait._id}}">
                    <h3>{{ trait.name }}<i class="fas fa-minus" data-action="delTrait" data-id="{{trait._id}}"></i></h3>
                </div>
            {{/each}}
        </div>
        <div class="trait-category">
            <h2>Die Traits
                <i data-action="addTrait" data-id="die" class="fas fa-plus"></i>
            </h2>
            {{#each traits.die as |trait|}}
                <div class="trait" data-item-id="{{trait._id}}">
                    <h3>{{ trait.name }}<i class="fas fa-minus" data-action="delTrait" data-id="{{trait._id}}"></i></h3>
                    <textarea disabled="disabled">{{trait.data.text}}</textarea>
                </div>
            {{/each}}
        </div>
        <div class="trait-category">
            <h2>Call-on Traits
                <i data-action="addTrait" data-id="call-on" class="fas fa-plus"></i>
            </h2>
            {{#each traits.callon as |trait|}}
                <div class="trait" data-item-id="{{trait._id}}">
                    <h3>{{ trait.name }}<i class="fas fa-minus" data-action="delTrait" data-id="{{trait._id}}"></i></h3>
                    <textarea disabled="disabled">{{ trait.data.text }}</textarea>
                </div>
            {{/each}}
        </div>
    </div>
    <h2>Stats</h2>
    <div class="stats">
        {{> "systems/burningwheel/templates/parts/stat.html" statName="Power" stat=data.will namePrefix="data.will"}}
        {{> "systems/burningwheel/templates/parts/stat.html" statName="Power" stat=data.power namePrefix="data.power"}}
        {{> "systems/burningwheel/templates/parts/stat.html" statName="Agility" stat=data.agility namePrefix="data.agility"}}
        {{> "systems/burningwheel/templates/parts/stat.html" statName="Perception" stat=data.perception namePrefix="data.perception"}}
        {{> "systems/burningwheel/templates/parts/stat.html" statName="Forte" stat=data.forte namePrefix="data.forte"}}
        {{> "systems/burningwheel/templates/parts/stat.html" statName="Speed" stat=data.speed namePrefix="data.speed"}}
    </div>
</form>