<form autocomplete="off">
    <input type="text" name="name" class="item-sheet-name" value="{{item.name}}">
    <div class="item-form-group">
        <label for="{{item._id}}-point-cost" class="item-setting-label">Resource Point Cost</label>
        <input id="{{item._id}}-point-cost" type="number" class="exponent" name="data.pointCost" value="{{data.pointCost}}" data-dtype="Number">
        <input id="{{item._id}}-checkbox-toolkit" class="item-setting-checkbox hidden" type="checkbox" name="data.isToolkit" {{checked data.isToolkit}}>
        <label for="{{item._id}}-checkbox-toolkit" class="item-setting-toggle">Toolkit</label>
        <input id="{{item._id}}-checkbox-expended" class="item-setting-checkbox hidden" type="checkbox" name="data.isExpended" {{checked data.isExpended}}>
        <label for="{{item._id}}-checkbox-expended" class="item-setting-toggle">Expended</label>
    </div>
    <hr/>
    <textarea name="data.description">{{data.description}}</textarea>
</form>
