<form autocomplete="off">
    <input name="name" type="text" class="item-sheet-name" value="{{item.name}}">
    <hr/>
    <h2>Stats</h2>
    <div class="item-form-group">
        <input id="{{item._id}}-checkbox-usePower" class="item-setting-checkbox hidden" type="checkbox" name="data.usePower" {{checked data.usePower}}>
        <label for="{{item._id}}-checkbox-usePower" class="item-setting-toggle">Use Power</label>
        <input id="{{item._id}}-checkbox-hasGunpowder" class="item-setting-checkbox hidden" type="checkbox" name="data.hasGunpowder" {{checked data.hasGunpowder}}>
        <label for="{{item._id}}-checkbox-hasGunpowder" class="item-setting-toggle">Use Gunpowder</label>
    </div>
    <hr />
    {{#if data.usePower}}
    <div class="input-grid">
        <div>
            <input id="{{item._id}}-number-power" type="number" name="data.powerBonus" value="{{data.powerBonus}}">
            <label for="{{item._id}}-number-power">Power Bonus</label>
        </div>
    </div>
    <hr />
    {{/if}}
    <div class="input-grid">
        <div>
            <input id="{{item._id}}-number-incidental" type="number" name="data.incidental" value="{{data.incidental}}" {{ disabled data.usePower }} >
            <label for="{{item._id}}-number-incidental">Incidental: {{ data.incidentalLabel }}</label>
        </div>
        <div>
            <input id="{{item._id}}-number-mark" type="number" name="data.mark" value="{{data.mark}}" {{ disabled data.usePower }} >
            <label for="{{item._id}}-number-mark">Mark: {{ data.markLabel }}</label>
        </div>
        <div>
            <input id="{{item._id}}-number-superb" type="number" name="data.superb" value="{{data.superb}}" {{ disabled data.usePower }} >
            <label for="{{item._id}}-number-superb">Superb: {{ data.superbLabel }}</label>
        </div>
        <div>
            <input id="{{item._id}}-number-incidentalMax" type="number" name="data.incidentalRoll" value="{{data.incidentalRoll}}" >
            <label for="{{item._id}}-number-incidentalMax" title="Maximum DoF number that results in an incidental hit">Incidental Threshold</label>
        </div>
        <div>
            <input id="{{item._id}}-number-markMax" type="number" name="data.markRoll" value="{{data.markRoll}}" >
            <label for="{{item._id}}-number-markMax" title="Maximum DoF number that results in an mark hit">Mark Threshold</label>
        </div>
        <div>
            <input id="{{item._id}}-number-va" type="number" name="data.vsArmor" value="{{data.vsArmor}}">
            <label for="{{item._id}}-number-va">Vs. Armor</label>
        </div>
        <div>
            <select id="{{item._id}}-select-quality" name="data.quality" value="{{data.quality}}">
                {{#select data.quality}}
                {{#each weaponQualities as |title value|}}
                <option value="{{value}}">{{title}}</option>
                {{/each}}
                {{/select}}
            </select>
            <label for="{{item._id}}-select-quality">Weapon Quality</label>
        </div>
        <div>
            <select id="{{item._id}}-select-shade" name="data.shade" value="{{data.shade}}">
                {{#select data.shade}}
                <option value="B">Black</option>
                <option value="G">Grey</option>
                <option value="W">White</option>
                {{/select}}
            </select>
            <label for="{{item._id}}-select-shade">Shade</label>
        </div>
        <div>
            <input id="{{item._id}}-number-range" type="text" name="data.maxRange" value="{{data.maxRange}}">
            <label for="{{item._id}}-number-range">Max Range</label>
        </div>

        <div>
            <label for="{{item._id}}-point-cost" class="item-setting-label">Resource Point Cost</label>
            <input id="{{item._id}}-point-cost" type="number" class="exponent" name="data.pointCost" value="{{data.pointCost}}" data-dtype="Number">
        </div>
    </div>
    <hr/>
    <textarea name="data.description">{{data.description}}</textarea>
</form>
