<form autocomplete="off" class="relationship-sheet">
    <label for="name-input">Name</label>
    <input id="name-input" type="text" value="{{item.name}}" name="name">
    <div class="checkbox-grid">
        <input id="checkbox-forbidden" type="checkbox" name="data.forbidden" {{checked data.forbidden}}>
        <label for="checkbox-forbidden">Forbidden</label>
        <input id="checkbox-immediateFamily" type="checkbox" name="data.immediateFamily" {{checked data.immediateFamily}}>
        <label for="checkbox-immediateFamily">Immediate Family</label>
        <input id="checkbox-otherFamily" type="checkbox" name="data.otherFamily" {{checked data.otherFamily}}>
        <label for="checkbox-otherFamily">Other Family</label>
        <input id="checkbox-romantic" type="checkbox" name="data.romantic" {{checked data.romantic}}>
        <label for="checkbox-romantic">Romantic</label>
        <input id="checkbox-hateful" type="checkbox" name="data.hateful" {{checked data.hateful}}>
        <label for="checkbox-hateful">Hateful/Rival</label>
    </div>
</form>