.armor-sheet {
    .armor-location-group {
        width: 100%;

        .armor-location-details {
            display: none;
            border: 1px solid black;
            border-top: 1px solid darkgrey;
            border-left: 1px solid darkgrey;
            padding: 1px 3px;
            width: calc(100% - 11em);
        }

        .armor-location-selection {
            border-right: 1px solid black;
            padding-right: 5px;
            width: 10em;
            place-content: space-evenly;
        }
    
        .armor-location-checkbox:checked ~ .armor-location-details {
            display: grid;
        }

        .armor-damage-left, .armor-damage-right {
            display: none;
        }
        .armor-checkbox-left:checked ~ .armor-location-details .armor-damage-left,
        .armor-checkbox-right:checked ~ .armor-location-details .armor-damage-right {
            display: block;
        }

        .armor-location-checkbox:checked + .armor-location-label {
            background: linear-gradient(rgba(green, .05), rgba(green, 0.25));
            border: 2px solid #005500;
            color: #005500;
        }
        .armor-location-label {
            text-align: center;
            font-size: 1em;
            background: linear-gradient(rgba(black, .05), rgba(black, 0.25));
            border: 2px solid darkgrey;
            border-radius: 3px;
            padding: 1px 3px;
            margin: 5px 0;
        }
    }
}