@import "../mixins.scss";

input.item-sheet-name {
    border: 0;
    border-radius: 0;
    font-size: 2em;
    font-weight: bolder;
    height: 1.25em;
    border-bottom: 2px groove lightpink;
    margin-bottom: .5em;
    flex: 1 1;
}

img.item-image {
    flex: 0 0 3em;
    height: 3em;
    border: 0;
    object-fit: cover;
    margin-right: 5px;
}

.item-form-group {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 5px));
    column-gap: 5px;
    row-gap: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: min-content;

    .item-setting-label {
        font-weight: bold;
    }

    .item-setting-toggle {
        @include button-like(grey);
        height: min-content;
    }
    .item-setting-checkbox:checked + .item-setting-toggle {
        @include button-like-active;
    }
}
