.relationship-sheet {
    .checkbox-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 24px 120px);

        input[type=checkbox] {
            height: 12px;
            width: 12px;
        }
    }
}