@import "../mixins.scss";
.skill-form {
    .skill-form-group {
        display: grid;
        grid-template-columns: repeat(4, calc(25% - 5px));
        column-gap: 5px;
        row-gap: 5px;
        margin-bottom: 5px;
        width: 100%;

        .skill-setting-label {
            font-weight: bold;
        }

        .skill-setting-toggle {
            @include button-like(grey)
        }
        .skill-setting-checkbox:checked + .skill-setting-toggle {
            @include button-like-active;
        }
    }
}