.skill-form {
    .skill-form-group {
        label {
            display: inline-block;
            width: 9em;
        }
        width: 100%;

        &.half-width {
            width: 50%;
        }
    }
}