@import "../mixins.scss";
.spell-sheet {
    .spell-sheet-entry {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
        margin-bottom: 5px;

        input[type='number'] {
            @include no-number-arrows;
        }
    }

    .item-sheet-name {
        border: 0;
        border-radius: 0;
        font-size: 2em;
        font-weight: bolder;
        height: 1.25em;
        border-bottom: 2px groove lightpink;
        margin-bottom: .5em;
    }
    .spell-toggle-label {
        @include button-like(grey);
    }

    .spell-toggle-checkbox:checked + .spell-toggle-label {
        @include button-like-active;
    }

    .spell-setting-label {
        font-weight: bold;
    }

    .spell-weapon-toggle {
        margin-bottom: -2px;
    }
    .spell-weapon-toggle .spell-toggle-label {
        border-radius: 2em 2em 0 0;
        width: 8em;
        display: inline-block;
    }

    .spell-weapon-stats {
        background-color: rgba(black, 0.05);
        padding: 5px;
        border: 2px groove #f0f0e0;
    }
}

.spell-section {
    .spell-section-item {
        height: min-content;
        @include colored-item(black);
    }

    .spell-item-title {
        width: calc(100% - 2.5em);
        display: block;
        font-weight: bold;
        font-size: 1.125em;
        line-height: 2em;

        i {
            font-size: 14px;
        }
    }
    .spell-details {
        position: relative;
        .edit-icons {
            position: absolute;
            bottom: 1px;
            right: 3px;
            &:hover {
                background-color: unset;
            }
            i:hover {
                color: red;
            }
        }

        &:hover {
            background-color: unset;
        }
        width: 100%;
        border-top: 2px groove salmon;

        .spell-details-label {
            font-weight: bold;
        }
        .spell-details-label, .spell-details-data {
            &:hover {
                background-color: unset;
            }
            width: 50%;
        }

        select {
            height: unset;
        }

        .spell-weapon {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 75%;

            .table-header {
                background-color: rgba(black, 0.15);
                font-weight: bold;;
            }
            
            &:hover {
                background-color: unset;
            }

            div {
                border: 1px solid black;
                margin-bottom: -1px;
                margin-right: -1px;
                text-align: center;
            }
        }
    }
}