@import "../mixins.scss";
.spell-sheet {
    .spell-sheet-entry {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
        margin-bottom: 5px;

        input[type='number'] {
            @include no-number-arrows;
        }
    }

    .spell-setting-label {
        font-weight: bold;
    }

    .spell-weapon-toggle {
        margin-bottom: -2px;
    }
    .spell-weapon-toggle .spell-toggle-label {
        border-radius: 2em 2em 0 0;
        width: 8em;
        display: inline-block;
    }

    .spell-weapon-stats {
        background-color: rgba(black, 0.05);
        padding: 5px;
        border: 2px groove #f0f0e0;
    }
}
