@import "./character/bits.scss";
@import "./character/character.scss";
@import "./character/equipment.scss";
@import "./character/learning.scss";
@import "./character/ptgs.scss";
@import "./character/relationships.scss";
@import "./character/settings.scss";
@import "./character/spells.scss";
@import "./character/weapons.scss";
@import "./chat/dialog.scss";
@import "./chat/roll.scss";
@import "./dialog/character-burner.scss";
@import "./dialog/duel-of-wits.scss";
@import "./dialog/fight.scss";
@import "./dialog/difficulty.scss";
@import "./dialog/range-and-cover.scss";
@import "./items/armor.scss";
@import "./items/item.scss";
@import "./items/lifepath.scss";
@import "./items/relationship.scss";
@import "./items/skill.scss";
@import "./items/spell.scss";
@import "./items/trait.scss";
@import "./items/weapon.scss";
@import "./mixins.scss";
@import "./npc/npc.scss";

.subheader,
.header {
    display: flex;
    flex-direction: row;
    input[type="number"] {
        max-width:  120px;
    }
}

button.rollable {
    width: 2.5em;
    height: 2.2em;
}

.clickable {
    cursor: pointer;
}

input {
    &.exponent {
        width: 2.5em;
        max-height: 28px;

        &.no-arrows {
            @include no-number-arrows;
        }

        &.wide {
            width: 3em;
        }
    }

    &.hidden {
        display: none;
    }

    &::selection {
        background: rgba(#800, .25);
    }
    &::-moz-selection {
        background: rgba(#800, .25);
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.flex-column {
    display: flex;
    flex-direction: column;
    &>hr {
        width: 100%;
    }
}

.item-grid {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;

    & > div {
        &:hover {
            background-color: $hover-color;
        }
    }
    &.col-2 {
        grid-template-columns: 1fr 1fr;
    }
    
    &.col-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &.col-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

input.section-collapse {
    display: none;
}

div.pill-toggle {
    @include pill-toggle;

    &.min-content {
        height: min-content;
    }
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 24px 120px);

    input[type=checkbox] {
        height: 12px;
        width: 12px;
    }
}

.input-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    column-gap: 5px;
    row-gap: 5px;

    input[type=number] {
        width: 4em;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }

    label {
        display: block;
        font-size: 12px;
    }
}

i.item-action-icon {
    float: right;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 5px;
    color: transparentize($color: black, $amount: 0.25);

    &:hover {
        color: #FF0000;
    }
}

textarea.note-box {
    border: 0;
    resize: vertical;
}

input.circle-input {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;

    @include no-number-arrows;
}

.footer {
    font-size: .7em;
    color: #333;
    text-align: center;

    .footer-right {
        float: right;
    }
    .footer-left {
        float: left;
    }
}

textarea {
    font-family: unset;
    resize: vertical;
    flex: 1 8em;
}

.character-burner-icon {
    @keyframes pulsing {
        0%   { text-shadow: 0 0 -10px orangered; }
        40%  { text-shadow: 0 0 20px  orangered; }
        60%  { text-shadow: 0 0 20px  orangered; }
        100% { text-shadow: 0 0 -10px orangered; }
    }
    i { color: darkred; }
    animation: pulsing 5000ms infinite;
}

.fight-sidebar-button, .dow-sidebar-button, .rnc-sidebar-button {
    background: linear-gradient(rgba(red, .15), rgba(red, 0.45));
    color: gold;
    border-color: gold;
    width: 95%;
}