@import "./character/character.scss";
@import "./character/learning.scss";
@import "./character/ptgs.scss";
@import "./character/weapons.scss";
@import "./items/relationship.scss";
@import "./items/skill.scss";
@import "./roll.scss";
@import "./dialog.scss";

.subheader,
.header {
    display: flex;
    flex-direction: row;
    input[type="number"] {
        max-width:  120px;
    }
}

button.rollable {
    width: 2.5em;
    height: 2.2em;
}

input.exponent {
    width: 2.5em;
    max-height: 28px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

.item-grid {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;

    div {
        &:hover {
            background-color: lightgrey;
        }
    }
    &.col-2 {
        grid-template-columns: 1fr 1fr;
    }
    
    &.col-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &.col-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

input.section-collapse {
    display: none;
}

input.section-collapse:checked + h2 > label.section-collapse-label > i {
    transform: rotate(-90deg);
}

label.section-collapse-label {
    float: left;
    margin-left: 10px;
}

input.attributes-collapse:checked ~ .attributes,
input.beliefs-collapse:checked ~ .beliefs,
input.instincts-collapse:checked ~ .instincts,
input.traits-collapse:checked ~ .traits,
input.stats-collapse:checked ~ .stats,
input.relationships-collapse:checked ~ .relationship-section,
input.gear-collapse:checked ~ .gear,
input.misc-collapse:checked ~ .misc-section,
input.skills-collapse:checked ~ .skills,
input.learning-collapse:checked ~ .learning-practice,
input.ptgs-collapse:checked ~ .ptgs,
input.combat-collapse:checked ~ .combat-section {
    display: none;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 24px 120px);

    input[type=checkbox] {
        height: 12px;
        width: 12px;
    }
}

.input-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    column-gap: 5px;
    row-gap: 5px;

    input[type=number] {
        width: 4em;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }

    label {
        display: block;
        font-size: 12px;
    }
}

i.item-action-icon {
    float: right;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 5px;
    color: transparentize($color: black, $amount: 0.25);

    &:hover {
        color: #FF0000;
    }
}

textarea.note-box {
    border: 0;
    resize: vertical;
}
