@import "./character/character.scss";

.subheader,
.header {
    display: flex;
    flex-direction: row;
    input[type="number"] {
        max-width:  120px;
    }
}

button.rollable {
    width: 2.5em;
    height: 2.2em;
}