@import "./character/character.scss";
@import "./character/learning.scss";
@import "./character/ptgs.scss";
@import "./items/relationship.scss";
@import "./items/skill.scss";
@import "./roll.scss";
@import "./dialog.scss";

.subheader,
.header {
    display: flex;
    flex-direction: row;
    input[type="number"] {
        max-width:  120px;
    }
}

button.rollable {
    width: 2.5em;
    height: 2.2em;
}

input.exponent {
    width: 2.5em;
    max-height: 28px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

input.section-collapse {
    display: none;
}

input.section-collapse:checked + h2 > label.section-collapse-label > i {
    transform: rotate(-90deg);
}

label.section-collapse-label {
    float: left;
    margin-left: 10px;
}

input.attributes-collapse:checked ~ .attributes,
input.beliefs-collapse:checked ~ .beliefs,
input.instincts-collapse:checked ~ .instincts,
input.traits-collapse:checked ~ .traits,
input.stats-collapse:checked ~ .stats,
input.relationships-collapse:checked ~ .relationship-section,
input.skills-collapse:checked ~ .skills,
input.learning-collapse:checked ~ .learning-practice,
input.ptgs-collapse:checked ~ .ptgs {
    display: none;
}