@import "mixins.scss";

.dialog {
    .dialog-row:hover {
        background-color: $hover-color;
    }

    .dialog-row {
        width: 50%;

        label {
            width: 75%;
        }
    }
}