$hover-color: rgba(0,0,0,0.1);

@mixin progress-ticks($size: 15px) {
    display: flex;

    label.progress-clear {
        display: block;
        color: transparent;
        width: $size;
        height: $size;
        font-size: $size;
        text-align: center;
        margin-left: calc(#{$size}/5);
    }

    label.progress-clear:hover {
        color: red;
    }

    input[type=radio] {
        visibility: hidden;
        display: none;

        &:checked ~ label.progress-tick {
            background-color: white;
            &:hover {
                background-color: $hover-color;
            }
        }
        
        &:checked + label.progress-tick {
            background-color: #333333;
        }

        &:disabled ~ label.progress-tick {
            @include progress-disable;
        }
    }

    label.progress-tick {
        display: block;
        background-color: #333333;
        border: 1px solid black;
        border-radius: calc(#{$size}/2);
        width: $size;
        height: $size;
        margin-left: calc(#{$size}/5);
        margin-top: 1px;
    }
}

@mixin progress-disable {
    pointer-events: none;
    opacity: 25%;
}

@mixin no-number-arrows {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

@mixin select-no-arrow {
    /* remove dropdown triangle for IE-10 */
    &::-ms-expand {
        display: none;
    }
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    border: 0;
}

@mixin underlined-input {
    background-color: rgba(0,0,0,0.05);
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid black;
}

@mixin colored-item($color) {
    margin: 1px;
    padding: 1px 3px;
    border-radius: 4px;
    border: 2px solid rgba($color, .15);

    transition: background-color .25s;
    background-color: rgba($color, 0.075);

    &:hover {
        background-color: rgba($color, 0.15);
    }
}

@mixin button-like($color) {
    font-size: 1em;
    border-radius: .75em;
    border: 2px groove #f0f0e0;
    background-color: rgba($color, .15);
    line-height: 1.5em;
    padding: 0 .5em;
    text-align: center;

    &:active {
        background-color: rgba($color, .25);
    }
}

@mixin button-like-active {
    background: linear-gradient(rgba(green, .05), rgba(green, 0.25));
    border: 2px solid #005500;
    color: #005500;
}

@mixin pill-toggle {
    display: flex;
    & > input[type="checkbox"] {
        opacity: 0;
        width: 1px;
        height: 1px;
        margin: 0;
        display: inline-block;
        &:checked + label {
            @include button-like-active;
        }

        &:focus + label {
            border-color: green;
        }
    }

    & > label {
        margin-left: -20px;
        display: block;
        width: 100%;
        cursor: pointer;
        @include button-like(black);
    }

}