.setting-sheet {
    &>.header {
        .portrait {
            height: 100px;
            flex: 0 0 100px;
            img {
                border: 0;
            }
        }
        .details {
            padding: 0 5px;
            flex: 1;
            input {
                font-size: 2em;
                border: 0;
                border-bottom: 2px groove #800;
                margin-bottom: 4px;
                border-radius: 0;
                height: 1.25em;
            }
            textarea {
                resize: none;
                flex: 1 100%;
            }
        }
    }
    & > .lifepath-list {
        .section-header {
            background-color: unset;
            font-size: 1.25em;
            border-bottom: 2px solid black;
            padding: 0 10px;
            font-weight: bold;

            .title {
                flex: 1 1 100px;
                font-weight: bold;
            }

            .years, .resources, .stat-boost {
                flex: 0 0 60px;
                text-align: center;
            }

            .leads {
                flex: 4;
            }

            .fas {
                flex: 0 0 20px;
            }
        }

        .lifepath {
            margin-bottom: 3px;
            cursor: pointer;
            border: 2px solid transparent;

            &:hover {
                background-color: rgba(black, 0.1);
                border: 2px groove #aaa;
            }

            &.show-drop > .drop-area {
                display: block;
            }

            .header {
                width: 100%;
                background-color: darkgrey;
                font-size: 1.125em;
                padding: 3px 10px;

                .title {
                    flex: 1 1 100px;
                    font-weight: bold;
                }

                .years, .resources, .stat-boost {
                    flex: 0 0 60px;
                    text-align: center;
                }

                .leads {
                    flex: 4;
                    font-style: italic;
                }

                .fas {
                    flex: 0 0 20px;
                    line-height: 20px;
                    text-align: center;
                    margin-right: -5px;
                    &:hover {
                        color: #800;
                    }
                }
            }

            .lifepath-detail {
                margin-left: 20px;
                font-size: 1.125em;
                text-align: justify;
                label {
                    margin-left: -5px;
                    font-weight: bold;
                    font-style: italic;
                }
            }

            .drop-area {
                border: 2px groove darkgray;
                height: 5px;
                border-radius: 5px;
                line-height: 2em;
                text-align: center;
                font-size: 1.2em;
                font-weight: bold;
    
                background: linear-gradient(0deg, rgba(black, 0.1), rgba(black, 0.25));
                display: none;
    
                &:hover {
                    display: block;
                }
            }
        }
    }
}