<div>
    <div class="ptgs-top">Tolerance <i class="fas fa-sync-alt" data-action="refresh-ptgs"></i></div>
    <div class="ptgs-mid">Coordinate</div>
    <div class="ptgs-scale">Injury</div>
</div>
{{#each ptgs as |wound|}}
{{#if wound.threshold}}
<div class="ptgs-wound-column">
    <div class="ptgs-top">
        <select class="ptgs-tolerance" name="data.ptgs.{{@key}}.threshold" value="{{wound.threshold}}">
            {{#select wound.threshold}}
            <option value="bruise">Br</option>
            <option value="superficial">Su</option>
            <option value="light">Li</option>
            <option value="midi">Mi</option>
            <option value="severe">Se</option>
            <option value="traumatic">Tr</option>
            <option value="mortal">M</option>
            {{/select}}
        </select>
    </div>
    <div class="ptgs-mid">
        B{{plusone @index}}
    </div>
    <div class="ptgs-scale flex-column">
        {{#multiboxes wound.amount}}
        <input type="radio" id="{{@key}}-0" name="data.ptgs.{{@key}}.amount" value="0" checked="checked">
        <label for="{{@key}}-0" class="wound-clear"><i class="fas fa-times-circle"></i></label>
        <input type="radio" id="{{@key}}-1" name="data.ptgs.{{@key}}.amount" value="1">
        <label for="{{@key}}-1" class="wound-tick wound-tick-1">&nbsp;</label>
        <input type="radio" id="{{@key}}-2" name="data.ptgs.{{@key}}.amount" value="2">
        <label for="{{@key}}-2" class="wound-tick wound-tick-2">&nbsp;</label>
        <input type="radio" id="{{@key}}-3" name="data.ptgs.{{@key}}.amount" value="3">
        <label for="{{@key}}-3" class="wound-tick wound-tick-3">&nbsp;</label>
        {{/multiboxes}}
    </div>
</div>
{{/if}}
{{/each}}
<div class="ptgs-obpenalty flex-column">
    <h3>Ob Penalty</h3>
    <div class="ptgs-big-number">{{ ptgs.obPenalty }}</div>
    <input type="checkbox" name="data.ptgs.shrugging" disabled {{ checked ptgs.shrugging }}>
    <button class="rollable" data-roll-type="shrug">Shrug It Off</button>
</div>
<div class="ptgs-wounddice flex-column">
    <h3>Wound Dice</h3>
    <div class="ptgs-big-number">{{ ptgs.woundDice }}</div>
    <input type="checkbox" name="data.ptgs.gritting" {{ checked ptgs.gritting }}>
    <button class="rollable" data-roll-type="grit">Grit Your Teeth</button>
</div>
<div class="ptgs-woundnotes1 flex-row">
    <h3>Injury Recovery</h3>
    <textarea name="data.ptgs.woundNotes1">{{ptgs.woundNotes1}}</textarea>
</div>
<div class="ptgs-woundnotes2 flex-row">
    <h3>Injury Recovery</h3>
    <textarea name="data.ptgs.woundNotes2">{{ptgs.woundNotes2}}</textarea>
</div>
<div class="ptgs-woundnotes3 flex-row">
    <h3>Injury Recovery</h3>
    <textarea name="data.ptgs.woundNotes3">{{ptgs.woundNotes3}}</textarea>
</div>
