<div class="relationship flex-row {{relationship.data.cssClass}}">
    <div class="item-title">
        {{ relationship.name }}
    </div>
    <button class="rollable" data-rollable-name="Circles" data-roll-type="circles" data-relationship-id={{relationship._id}}><i class="fas fa-dice"></i></button>
    <i class="fas fa-edit" data-action="editItem" data-id="{{relationship._id}}"></i>
    <i class="fas fa-trash" data-action="delItem" data-id="{{relationship._id}}"></i>
    {{#if relationship.data.building}}
    <div class="relationship-progress">
        {{#multiboxes relationship.data.buildingProgress exp=exp}}
        <input type="radio" id="{{relationship.data.safeId}}-buildingProgress-0" value="0" name="{{relationship.data.safeId}}-buildingProgress" data-item-id="{{relationship._id}}" data-binding="data.buildingProgress">
        <label for="{{relationship.data.safeId}}-buildingProgress-0" class="progress-clear"><i class="fas fa-times-circle"></i></label>
        <input type="radio" id="{{relationship.data.safeId}}-buildingProgress-1" value="1" name="{{relationship.data.safeId}}-buildingProgress" data-item-id="{{relationship._id}}" data-binding="data.buildingProgress">
        <label for="{{relationship.data.safeId}}-buildingProgress-1" class="progress-tick progress-tick-1">&nbsp;</label>
        <input type="radio" id="{{relationship.data.safeId}}-buildingProgress-2" value="2" name="{{relationship.data.safeId}}-buildingProgress" data-item-id="{{relationship._id}}" data-binding="data.buildingProgress">
        <label for="{{relationship.data.safeId}}-buildingProgress-2" class="progress-tick progress-tick-2">&nbsp;</label>
        <input type="radio" id="{{relationship.data.safeId}}-buildingProgress-3" value="3" name="{{relationship.data.safeId}}-buildingProgress" data-item-id="{{relationship._id}}" data-binding="data.buildingProgress">
        <label for="{{relationship.data.safeId}}-buildingProgress-3" class="progress-tick progress-tick-3">&nbsp;</label>
        <input type="radio" id="{{relationship.data.safeId}}-buildingProgress-4" value="4" name="{{relationship.data.safeId}}-buildingProgress" data-item-id="{{relationship._id}}" data-binding="data.buildingProgress">
        <label for="{{relationship.data.safeId}}-buildingProgress-4" class="progress-tick progress-tick-4">&nbsp;</label>
        <input type="radio" id="{{relationship.data.safeId}}-buildingProgress-5" value="5" name="{{relationship.data.safeId}}-buildingProgress" data-item-id="{{relationship._id}}" data-binding="data.buildingProgress">
        <label for="{{relationship.data.safeId}}-buildingProgress-5" class="progress-tick progress-tick-5">&nbsp;</label>
        <input type="radio" id="{{relationship.data.safeId}}-buildingProgress-6" value="6" name="{{relationship.data.safeId}}-buildingProgress" data-item-id="{{relationship._id}}" data-binding="data.buildingProgress">
        <label for="{{relationship.data.safeId}}-buildingProgress-6" class="progress-tick progress-tick-6">&nbsp;</label>
        <input type="radio" id="{{relationship.data.safeId}}-buildingProgress-7" value="7" name="{{relationship.data.safeId}}-buildingProgress" data-item-id="{{relationship._id}}" data-binding="data.buildingProgress">
        <label for="{{relationship.data.safeId}}-buildingProgress-7" class="progress-tick progress-tick-7">&nbsp;</label>
        <input type="radio" id="{{relationship.data.safeId}}-buildingProgress-8" value="8" name="{{relationship.data.safeId}}-buildingProgress" data-item-id="{{relationship._id}}" data-binding="data.buildingProgress">
        <label for="{{relationship.data.safeId}}-buildingProgress-8" class="progress-tick progress-tick-8">&nbsp;</label>
        <input type="radio" id="{{relationship.data.safeId}}-buildingProgress-9" value="9" name="{{relationship.data.safeId}}-buildingProgress" data-item-id="{{relationship._id}}" data-binding="data.buildingProgress">
        <label for="{{relationship.data.safeId}}-buildingProgress-9" class="progress-tick progress-tick-9">&nbsp;</label>
        {{/multiboxes}}
    </div>
    {{/if}}
</div>
